# **Setting Requirements**

## Importing libraries

In [ ]:
# import required libraries
from bs4 import BeautifulSoup as bs
import requests
import random
import pandas as pd
import numpy as np
from io import StringIO
import string
import csv
from google.colab import files
import cvxpy as cp
import matplotlib.pyplot as plt

## Simulate devices for scraping

In [ ]:
# simulate devices for scraping
user_agents_list = [
    'Mozilla/5.0 (iPad; CPU OS 12_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148',
    'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.83 Safari/537.36',
    'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.51 Safari/537.36'
]

## Define prerequisite data

In [ ]:
# define categories and their types with number of actors in each as linked in url
categories = {
    'genres': {
        'adventure': 1601,
        'action': 1301,
        'comedy': 2801,
        'drama': 3701,
        'thriller-or-suspense': 1401,
        'horror': 1301,
        'romantic-comedy': 701,
        'musical': 201
    },
    'creative-types': {
        'contemporary-fiction': 6401,
        'science-fiction': 1201,
        'kids-fiction': 901,
        'historical-fiction': 1500,
        'fantasy': 901,
        'super-hero': 301,
        'dramatization': 1201,
        'factual': 101
    },
    'production-methods': {
        'live-action': 8701,
        'animation-and-live-action': 501,
        'digital-animation': 601,
        'hand-animation': 101,
        'stop-motion-animation': 1,
        'rotoscoping': 1,
        'multiple-production-methods': 1
    },
    'sources': {
        'original-screenplay': 6901,
        'based-on-fictional-book-or-short-story': 2101,
        'based-on-comic-or-graphic-novel': 501,
        'remake': 501,
        'based-on-tv': 401,
        'based-on-real-life-events': 1101,
        'based-on-factual-book-or-article': 401,
        'spin-off': 101
    },
    'mpaa-ratings': {
        'pg-13-(us)': 2801,
        'r-(us)': 3901,
        'pg-(us)': 1901,
        'g-(us)': 301,
        'not-rated-(us)': 2801,
        'gp-(us)': 1,
        'nc-17-(us)': 1,
        'm-pg': 1
    },
    'theatrical-distributors': {
        'walt-disney': 801,
        'warner-bros': 1101,
        'sony-pictures': 901,
        'universal': 1001,
        'paramount-pictures': 801,
        '20th-century-fox': 801,
        'lionsgate': 601,
        'new-line': 201,
        'dreamworks-skg': 1,
        'mgm': 301,
        'miramax': 201,
        'fox-searchlight': 201,
        'focus-features': 301,
        'weinstein-co': 201,
        'summit-entertainment': 1,
        '20th-century-studios': 1,
        'sony-pictures-classics': 401,
        'stx-entertainment': 101,
        'miramax-dimension': 1,
        'relativity': 101,
        'open-road': 101,
        'united-artists': 101,
        'a24': 201,
        'roadside-attractions': 201,
        'newmarket-films': 101
    }
}

distributors = list(categories['theatrical-distributors'].copy().keys())

sources = categories['sources'].copy()

production_methods = categories['production-methods'].copy()

creative_types = categories['creative-types'].copy()

# set time frame of movie releases
start_year = 1995
end_year = 2021

## Creating relevant URLs

In [ ]:
# define initial url with placeholders
dates_url = 'https://www.the-numbers.com/movies/year/'

dist_url = 'https://www.the-numbers.com/market/{year}/distributor/{distributorName}'

budget_url = 'https://www.the-numbers.com/movie/budgets/all/'

source_url = 'https://www.the-numbers.com/movies/source/{sourceName}/year/{yearNumber}'

production_method_url = 'https://www.the-numbers.com/movies/production-method/{production_method_name}/year/{yearNumber}'

creative_type_url = 'https://www.the-numbers.com/movies/creative-type/{creative_type_name}/year/{yearNumber}'

actor_url = 'https://www.the-numbers.com/box-office-star-records/domestic/{category}/{category_type}-leading-stars/{rank}'

director_url = 'https://www.the-numbers.com/box-office-star-records/domestic/lifetime-specific-technical-role/director/{rank}'

movie_url = 'https://www.the-numbers.com/movie/{movie_name}#tab=cast-and-crew'

# **Scraping Release Date**

In [ ]:

date_df = pd.DataFrame()

try:

    for i in range(start_year, end_year):

        current_url = f'{dates_url}{i}'

        page = requests.get(current_url, headers = {'User-Agent': random.choice(user_agents_list)})

        soup = bs(page.text, 'html.parser')

        df_yearly = pd.read_html(page.text)[0]
        date_df = pd.concat([date_df, df_yearly], ignore_index = True)


except Exception as e:
    print(e)

date_df = date_df.drop(date_df[date_df['Release Type'] == 'Video'].index)
date_df = date_df.drop(date_df[date_df['Release Type'].isnull()].index)
date_df = date_df.drop(columns = ['Trailer', 'Revenue to Date', 'Release Type','Genre'])
date_df = date_df.reset_index(drop = True)

variable = 0

for i in range(date_df.shape[0]):

  if date_df.iloc[i]['Release Date'] == date_df.iloc[i]['Movie']:
      variable = date_df.iloc[i]['Release Date']

  if date_df.iloc[i]['Release Date'] != date_df.iloc[i]['Movie']:
    date_df.at[i,'Release Date'] = variable

date_df = date_df[date_df['Release Date'] != date_df['Movie']]

date_df

         Release Date                                   Movie
1       January, 1995                              Houseguest
2       January, 1995                               Showgirls
3       January, 1995                         Higher Learning
4       January, 1995  Far from Home: The Adventures of Yell…
5       January, 1995                             The Surgeon
...               ...                                     ...
33048  December, 2020             Mult vs Kino Vypusk No. 121
33049  December, 2020                     Ramprasad Ki Tehrvi
33050  December, 2020                      Seonsyain paemilli
33051  December, 2020            Song Ni Yi Duo Xiao Hong Hua
33052  December, 2020             Descubriendo a José Padilla

[32741 rows x 2 columns]

# **Scraping Distributor, Genre, and Rating**

In [ ]:

dist_df = pd.DataFrame()
try:

  for i in range(start_year, end_year):
    for j in distributors:

        current_url = dist_url.format(year = i, distributorName =j)
        page = requests.get(current_url, headers = {'User-Agent': random.choice(user_agents_list)})
        soup = bs(StringIO(page.text), 'html.parser')
        df_yearly = pd.read_html(StringIO(page.text), attrs={"class":None})[0]
        dist_df = pd.concat([dist_df, df_yearly], ignore_index = True)
        dist_df = dist_df.drop(columns = ['{year} Gross'.format(year = i), 'Tickets Sold','Rank','Release Date'])

except Exception as e:
    print(e)

dist_df['Distributor'] = ""

index = 0

for j in range(dist_df.shape[0]):

    if dist_df.loc[j,'Movie']=="Total Tickets Sold" and dist_df.loc[j,'Genre']=="Total Tickets Sold":
      index += 1

    if dist_df.iloc[j]['Movie'] != dist_df.iloc[j]['Genre']:
      dist_df.loc[j,'Distributor'] = distributors[index]

    if index == len(distributors) - 1:
      index = 0

dist_df = dist_df[dist_df['Movie'] != dist_df['Genre']]
dist_df

                        Movie            Genre MPAA Rating  Distributor
0                   Toy Story        Adventure           G  walt-disney
1                  Pocahontas        Adventure           G  walt-disney
2                Crimson Tide           Action           R  walt-disney
3             Dangerous Minds            Drama           R  walt-disney
4     While You Were Sleeping  Romantic Comedy          PG  walt-disney
...                       ...              ...         ...          ...
7912    The Last Full Measure            Drama           R  walt-disney
7913  Words on Bathroom Walls            Drama       PG-13  walt-disney
7914                Pinocchio        Adventure       PG-13  walt-disney
7915                     Judy            Drama       PG-13  walt-disney
7916                 Hope Gap            Drama       PG-13  walt-disney

[6621 rows x 4 columns]

# **Scraping Budget**

In [ ]:

budget_df = pd.DataFrame()
current_rank = 1
max_rank = 6401

try:

    while current_rank <= max_rank:

        current_url = f'{budget_url}{current_rank}'

        page = requests.get(current_url, headers = {'User-Agent': random.choice(user_agents_list)})

        soup = bs(page.text, 'html.parser')

        page_df = pd.read_html(page.text)[0]

        budget_df = pd.concat([budget_df, page_df], ignore_index = True)

        current_rank += 100

except Exception as e:
    print(e)

budget_df = budget_df.drop(budget_df[budget_df['Release Date'] == 'Unknown'].index)
budget_df = budget_df.drop(columns = ['Unnamed: 0', 'Worldwide Gross', 'Release Date'])
budget_df = budget_df.reset_index(drop = True)

budget_df

,Movie,Production Budget,Domestic Gross
0,Avatar: The Way of Water,"$460,000,000","$684,075,767"
1,Avengers: Endgame,"$400,000,000","$858,373,000"
2,Pirates of the Caribbean: On Stranger Tides,"$379,000,000","$241,071,802"
3,Avengers: Age of Ultron,"$365,000,000","$459,005,868"
4,Fast X,"$340,000,000","$145,960,660"
...,...,...,...
6328,Following,"$6,000","$48,482"
6329,Return to the Land of Wonders,"$5,000","$1,338"
6330,A Plague So Pleasant,"$1,400",$0
6331,My Date With Drew,"$1,100","$181,041"
6332,Neeras,$86,$0

# **Scraping Source**

In [ ]:

def scrape_source(sourceName):

  source_df = pd.DataFrame()

  try:

    for i in range(start_year,end_year):

      current_url = source_url.format(yearNumber = i, sourceName =sourceName)
      page = requests.get(current_url, headers = {'User-Agent': random.choice(user_agents_list)})
      soup = bs(StringIO(page.text), 'html.parser')
      df_yearly = pd.read_html(StringIO(page.text))[0]
      source_df=pd.concat([source_df, df_yearly], ignore_index = True)

    source_df = source_df[source_df['Movie'] != source_df['Genre']]
    source_df = source_df.drop(source_df[source_df['Movie'].isnull()].index)
    source_df = source_df.drop(columns = ['Trailer', 'Revenue to Date', 'Release Type','Genre', 'Release Date'])
    source_df = source_df.reset_index(drop = True)

    source_df['Source'] = sourceName

    return source_df

  except Exception as e:
      print(e)

for j in sources.keys():
    sources[j] = scrape_source(j)

sources

{'original-screenplay':                                         Movie               Source
 0                                   Sorceress  original-screenplay
 1                                  Houseguest  original-screenplay
 2                                   Showgirls  original-screenplay
 3                             Higher Learning  original-screenplay
 4      Far from Home: The Adventures of Yell…  original-screenplay
 ...                                       ...                  ...
 20676                    The 100 Candles Game  original-screenplay
 20677       Horse Julius and Big Horse Racing  original-screenplay
 20678                     Ramprasad Ki Tehrvi  original-screenplay
 20679            Song Ni Yi Duo Xiao Hong Hua  original-screenplay
 20680                                   Alone  original-screenplay

 [20681 rows x 2 columns],
 'based-on-fictional-book-or-short-story':                                       Movie  \
 0                  The Secret of Roan Inish
 1                        Once Were Warriors
 2                                  Hideaway
 3                               The Mangler
 4                                 Roommates
 ...                                     ...
 2871  Yi tin to lung gei: Moh gaau gaau jue
 2872                            Asa ga Kuru
 2873                   Ensemble, c’est tout
 2874         Eiga Entotsu Machi no Poupelle
 2875                      News of the World

                                       Source
 0     based-on-fictional-book-or-short-story
 1     based-on-fictional-book-or-short-story
 2     based-on-fictional-book-or-short-story
 3     based-on-fictional-book-or-short-story
 4     based-on-fictional-book-or-short-story
 ...                                      ...
 2871  based-on-fictional-book-or-short-story
 2872  based-on-fictional-book-or-short-story
 2873  based-on-fictional-book-or-short-story
 2874  based-on-fictional-book-or-short-story
 2875  based-on-fictional-book-or-short-story

 [2876 rows x 2 columns],
 'based-on-comic-or-graphic-novel':                                      Movie                           Source
 0                                Tank Girl  based-on-comic-or-graphic-novel
 1                           Batman Forever  based-on-comic-or-graphic-novel
 2                              Judge Dredd  based-on-comic-or-graphic-novel
 3                           Kôkaku kidôtai  based-on-comic-or-graphic-novel
 4                                Barb Wire  based-on-comic-or-graphic-novel
 ..                                     ...                              ...
 512                         10 Manbun no 1  based-on-comic-or-graphic-novel
 513      Captain Underpants: Mega Blissmas  based-on-comic-or-graphic-novel
 514                      Wonder Woman 1984  based-on-comic-or-graphic-novel
 515                  Yakusoku no Neverland  based-on-comic-or-graphic-novel
 516  Kimetsu no Yaiba: Hashira Gou Kaigi�…  based-on-comic-or-graphic-novel

 [517 rows x 2 columns],
 'remake':                            Movie  Source
 0                  Kiss of Death  remake
 1                    Nine Months  remake
 2           A Walk in the Clouds  remake
 3    Father of the Bride Part II  remake
 4                        Sabrina  remake
 ..                           ...     ...
 371                       Morgue  remake
 372                  The Witches  remake
 373                 Castle Freak  remake
 374                         Joje  remake
 375          Wen Nuan De Bao Bao  remake

 [376 rows x 2 columns],
 'based-on-tv':                                        Movie       Source
 0                      The Brady Bunch Movie  based-on-tv
 1                    Stuart Saves His Family  based-on-tv
 2                                     Casper  based-on-tv
 3    Mighty Morphin Power Rangers: The Movie  based-on-tv
 4                 Gekijouban Makurosu Purasu  based-on-tv
 ..                                       ...          ...
 380             Happy Halloween, Scooby-Doo!  based-on-tv
 381       Octonauts & the Great Barrier Reef  based-on-tv
 382       The Red Flag Thrown into West Wind  based-on-tv
 383    The Spongebob Musical: Live on Stage!  based-on-tv
 384                                   Robiki  based-on-tv

 [385 rows x 2 columns],
 'based-on-real-life-events':                                 Movie                     Source
 0                              Tsahal  based-on-real-life-events
 1                      The Living Sea  based-on-real-life-events
 2       Baseball: A Film By Ken Burns  based-on-real-life-events
 3                           Farinelli  based-on-real-life-events
 4                  Jefferson in Paris  based-on-real-life-events
 ...                               ...                        ...
 6594          A Mind Like Still Water  based-on-real-life-events
 6595  Stevie Nicks: Broadcasting Live  based-on-real-life-events
 6596                  Yearly Departed  based-on-real-life-events
 6597      Descubriendo a José Padilla  based-on-real-life-events
 6598          The Forgotten Battalion  based-on-real-life-events

 [6599 rows x 2 columns],
 'based-on-factual-book-or-article':                                  Movie                            Source
 0                            Apollo 13  based-on-factual-book-or-article
 1                      Dangerous Minds  based-on-factual-book-or-article
 2    The Last Time I Committed Suicide  based-on-factual-book-or-article
 3                       The Peacemaker  based-on-factual-book-or-article
 4                            Anastasia  based-on-factual-book-or-article
 ..                                 ...                               ...
 335                   The Last Vermeer  based-on-factual-book-or-article
 336           Between the World and Me  based-on-factual-book-or-article
 337     The Plot Against the President  based-on-factual-book-or-article
 338                    The Last Sermon  based-on-factual-book-or-article
 339        The Art of Political Murder  based-on-factual-book-or-article

 [340 rows x 2 columns],
 'spin-off':                                      Movie    Source
 0                         The Tigger Movie  spin-off
 1           Jay and Silent Bob Strike Back  spin-off
 2                        The Scorpion King  spin-off
 3                       Piglet's Big Movie  spin-off
 4                         Freddy vs. Jason  spin-off
 ..                                     ...       ...
 65                           Beloved Beast  spin-off
 66                         The Jesus Rolls  spin-off
 67     American Pie Presents: Girls’ Rules  spin-off
 68  Dragons: Rescue Riders: Huttsgalor Ho…  spin-off
 69                 A Trash Truck Christmas  spin-off

 [70 rows x 2 columns]}

## Combining Sources

In [ ]:

source_all_df = pd.DataFrame()

for i in sources.keys():
  source_all_df = pd.concat([source_all_df, sources[i]], ignore_index = True)

source_all_df

                                        Movie               Source
0                                   Sorceress  original-screenplay
1                                  Houseguest  original-screenplay
2                                   Showgirls  original-screenplay
3                             Higher Learning  original-screenplay
4      Far from Home: The Adventures of Yell…  original-screenplay
...                                       ...                  ...
31839                           Beloved Beast             spin-off
31840                         The Jesus Rolls             spin-off
31841     American Pie Presents: Girls’ Rules             spin-off
31842  Dragons: Rescue Riders: Huttsgalor Ho…             spin-off
31843                 A Trash Truck Christmas             spin-off

[31844 rows x 2 columns]

# **Scraping Production Method**

In [ ]:

def scrape_production_method(production_method_name):

  production_method_df = pd.DataFrame()

  try:

    for i in range(start_year,end_year):

      current_url = production_method_url.format(yearNumber = i, production_method_name = production_method_name)
      page = requests.get(current_url, headers = {'User-Agent': random.choice(user_agents_list)})
      soup = bs(StringIO(page.text), 'html.parser')
      df_yearly = pd.read_html(StringIO(page.text))[0]
      production_method_df=pd.concat([production_method_df, df_yearly], ignore_index = True)

    production_method_df = production_method_df[production_method_df['Movie'] != production_method_df['Genre']]
    production_method_df = production_method_df.drop(production_method_df[production_method_df['Movie'].isnull()].index)
    production_method_df = production_method_df.drop(columns = ['Trailer', 'Revenue to Date', 'Release Type','Genre', 'Release Date'])
    production_method_df = production_method_df.reset_index(drop = True)

    production_method_df['Production Method'] = production_method_name

    return production_method_df

  except Exception as e:
      print(e)

for j in production_methods.keys():
    production_methods[j] = scrape_production_method(j)

production_methods

{'live-action':                                         Movie Production Method
 0                                   Sorceress       live-action
 1                                  Houseguest       live-action
 2                                   Showgirls       live-action
 3                             Higher Learning       live-action
 4      Far from Home: The Adventures of Yell…       live-action
 ...                                       ...               ...
 32847                      Seonsyain paemilli       live-action
 32848            Song Ni Yi Duo Xiao Hong Hua       live-action
 32849             Descubriendo a José Padilla       live-action
 32850                 The Forgotten Battalion       live-action
 32851                                   Alone       live-action

 [32852 rows x 2 columns],
 'animation-and-live-action':                                       Movie          Production Method
 0                               Dragonheart  animation-and-live-action
 1               The Adventures of Pinocchio  animation-and-live-action
 2                                 Space Jam  animation-and-live-action
 3             The Lost World: Jurassic Park  animation-and-live-action
 4                         Starship Troopers  animation-and-live-action
 ..                                      ...                        ...
 243  Adventures Of Rufus: The Fantastic Pet  animation-and-live-action
 244           I’m Thinking of Ending Things  animation-and-live-action
 245                  30 de ani si 15 minute  animation-and-live-action
 246                           Dragevokteren  animation-and-live-action
 247              The Christmas Chronicles 2  animation-and-live-action

 [248 rows x 2 columns],
 'digital-animation':                                        Movie  Production Method
 0                                  Toy Story  digital-animation
 1                              Fallen Angels  digital-animation
 2     Agigongryong Dulri - Eoreumbyeol Daem…  digital-animation
 3                                       Antz  digital-animation
 4                               A Bug’s Life  digital-animation
 ...                                      ...                ...
 1524  Meitantei Conan: Karakurenai no rabur…  digital-animation
 1525                    Magic Mouse Paradise  digital-animation
 1526       Horse Julius and Big Horse Racing  digital-animation
 1527                                  Magikz  digital-animation
 1528             Mult vs Kino Vypusk No. 121  digital-animation

 [1529 rows x 2 columns],
 'hand-animation':                                     Movie Production Method
 0                Too Outrageous Animation    hand-animation
 1                           A Goofy Movie    hand-animation
 2              The Pebble and the Penguin    hand-animation
 3                              Pocahontas    hand-animation
 4                           Jûbê ninpûchô    hand-animation
 ..                                    ...               ...
 368                 Oshiri Tantei Movie 2    hand-animation
 369                         Petit vampire    hand-animation
 370                           Wolfwalkers    hand-animation
 371  The Precious Memory of Gogo Brothers    hand-animation
 372        If Anything Happens I Love You    hand-animation

 [373 rows x 2 columns],
 'stop-motion-animation':                                        Movie      Production Method
 0          Wallace and Gromit: A Close Shave  stop-motion-animation
 1     Wallace & Gromit: The Best of Aardman…  stop-motion-animation
 2                  James and the Giant Peach  stop-motion-animation
 3              Santa Claus is Comin’ to Town  stop-motion-animation
 4             The Year Without a Santa Claus  stop-motion-animation
 5                                Chicken Run  stop-motion-animation
 6     Lady and the Tramp 2 Scamp’s Adventure  stop-motion-animation
 7     Wallace & Gromit: The Curse of the We…  stop-motion-animation
 8                               Corpse Bride  stop-motion-animation
 9                   Blood Tea and Red String  stop-motion-animation
 10                                  Coraline  stop-motion-animation
 11                              Mary and Max  stop-motion-animation
 12                                     $9.99  stop-motion-animation
 13    Wallace and Gromit: A Matter of Loaf …  stop-motion-animation
 14                         Fantastic Mr. Fox  stop-motion-animation
 15                       A Town Called Panic  stop-motion-animation
 16                    Jackboots on Whitehall  stop-motion-animation
 17                            Tactical Force  stop-motion-animation
 18              The Pirates! Band of Misfits  stop-motion-animation
 19                                ParaNorman  stop-motion-animation
 20                                   Na pude  stop-motion-animation
 21                             Frankenweenie  stop-motion-animation
 22    LEGO Batman: The Movie - DC Superhero…  stop-motion-animation
 23           Blank: A Vinylmation Love Story  stop-motion-animation
 24                 Uribyeol Ilho-wa Eollukso  stop-motion-animation
 25                             The Boxtrolls  stop-motion-animation
 26                           Shaun the Sheep  stop-motion-animation
 27                                  Malý pán  stop-motion-animation
 28                             The Wanted 18  stop-motion-animation
 29                            Menudos heroes  stop-motion-animation
 30                                 Anomalisa  stop-motion-animation
 31               Here Comes Peter Cottontail  stop-motion-animation
 32                       Ma vie de Courgette  stop-motion-animation
 33      Shaun The Sheep: The Farmer's Llamas  stop-motion-animation
 34                  Kubo and the Two Strings  stop-motion-animation
 35           A Town Called Panic: Double Fun  stop-motion-animation
 36  Mahou shoujo ririkaru Nanoha: Reflection  stop-motion-animation
 37                             Muumien joulu  stop-motion-animation
 38                                 Early Man  stop-motion-animation
 39                              Isle of Dogs  stop-motion-animation
 40                    Pat a Mat znovu v akci  stop-motion-animation
 41                           Chieri to Cherî  stop-motion-animation
 42                              Missing Link  stop-motion-animation
 43                               Frank & Zed  stop-motion-animation,
 'rotoscoping':               Movie Production Method
 0       Waking Life       rotoscoping
 1  A Scanner Darkly       rotoscoping
 2  Year of the Fish       rotoscoping
 3      Tehran Taboo       rotoscoping
 4     Tonde Saitama       rotoscoping,
 'multiple-production-methods':                                        Movie            Production Method
 0     The 2005 Academy Award Nominated Shor…  multiple-production-methods
 1              The World According to Shorts  multiple-production-methods
 2   2006 Academy Award Nominated Short Films  multiple-production-methods
 3     A Collection of 2007 Academy Award No…  multiple-production-methods
 4                          2009 Oscar Shorts  multiple-production-methods
 ..                                       ...                          ...
 81    The 7th Silk Road International Film …  multiple-production-methods
 82                 Italian film masters 2020  multiple-production-methods
 83                               Deathcember  multiple-production-methods
 84         The 4th Japan New Film Exhibition  multiple-production-methods
 85         2020 Banff Mountain Film Festival  multiple-production-methods

 [86 rows x 2 columns]}

## Combining Production Methods

In [ ]:

production_method_all_df = pd.DataFrame()

for i in production_methods.keys():
  production_method_all_df = pd.concat([production_method_all_df, production_methods[i]], ignore_index = True)

production_method_all_df

                                        Movie            Production Method
0                                   Sorceress                  live-action
1                                  Houseguest                  live-action
2                                   Showgirls                  live-action
3                             Higher Learning                  live-action
4      Far from Home: The Adventures of Yell…                  live-action
...                                       ...                          ...
35132  The 7th Silk Road International Film …  multiple-production-methods
35133               Italian film masters 2020  multiple-production-methods
35134                             Deathcember  multiple-production-methods
35135       The 4th Japan New Film Exhibition  multiple-production-methods
35136       2020 Banff Mountain Film Festival  multiple-production-methods

[35137 rows x 2 columns]

# **Scraping Creative Type**

In [ ]:

def scrape_creative_type(creative_type_name):

  creative_type_df = pd.DataFrame()

  try:

    for i in range(start_year,end_year):

      current_url = creative_type_url.format(yearNumber = i, creative_type_name = creative_type_name)
      page = requests.get(current_url, headers = {'User-Agent': random.choice(user_agents_list)})
      soup = bs(StringIO(page.text), 'html.parser')
      df_yearly = pd.read_html(StringIO(page.text))[0]
      creative_type_df=pd.concat([creative_type_df, df_yearly], ignore_index = True)

    creative_type_df = creative_type_df[creative_type_df['Movie'] != creative_type_df['Genre']]
    creative_type_df = creative_type_df.drop(creative_type_df[creative_type_df['Movie'].isnull()].index)
    creative_type_df = creative_type_df.drop(columns = ['Trailer', 'Revenue to Date', 'Release Type','Genre', 'Release Date'])
    creative_type_df = creative_type_df.reset_index(drop = True)

    creative_type_df['Creative Type'] = creative_type_name

    return creative_type_df

  except Exception as e:
      print(e)

for j in creative_types.keys():
    creative_types[j] = scrape_creative_type(j)

creative_types

{'contemporary-fiction':                               Movie         Creative Type
 0                        Houseguest  contemporary-fiction
 1                         Showgirls  contemporary-fiction
 2                   Higher Learning  contemporary-fiction
 3                            Baasha  contemporary-fiction
 4      Amityville: A New Generation  contemporary-fiction
 ...                             ...                   ...
 17915          The 100 Candles Game  contemporary-fiction
 17916           Ramprasad Ki Tehrvi  contemporary-fiction
 17917            Seonsyain paemilli  contemporary-fiction
 17918  Song Ni Yi Duo Xiao Hong Hua  contemporary-fiction
 17919                         Alone  contemporary-fiction

 [17920 rows x 2 columns],
 'science-fiction':                                        Movie    Creative Type
 0                                  Tank Girl  science-fiction
 1                       Jinzô ningen Hakaidâ  science-fiction
 2                      Village of the Damned  science-fiction
 3                            Johnny Mnemonic  science-fiction
 4                                       Safe  science-fiction
 ...                                      ...              ...
 1481                               Max Cloud  science-fiction
 1482                                Skylines  science-fiction
 1483                              Brain Dead  science-fiction
 1484                              Robot Riot  science-fiction
 1485  Meitantei Conan: Karakurenai no rabur…  science-fiction

 [1486 rows x 2 columns],
 'kids-fiction':                                        Movie Creative Type
 0     Far from Home: The Adventures of Yell…  kids-fiction
 1                                  Tall Tale  kids-fiction
 2                             101 Dalmatians  kids-fiction
 3                            Born to be Wild  kids-fiction
 4                              A Goofy Movie  kids-fiction
 ...                                      ...           ...
 1622                                    Soul  kids-fiction
 1623                                  Burrow  kids-fiction
 1624                    Magic Mouse Paradise  kids-fiction
 1625       Horse Julius and Big Horse Racing  kids-fiction
 1626             Mult vs Kino Vypusk No. 121  kids-fiction

 [1627 rows x 2 columns],
 'historical-fiction':                        Movie       Creative Type
 0     The Quick and the Dead  historical-fiction
 1      The Brady Bunch Movie  historical-fiction
 2           The Walking Dead  historical-fiction
 3          Circle of Friends  historical-fiction
 4       Utomlyonnye solntsem  historical-fiction
 ...                      ...                 ...
 2456          Boys vs. Girls  historical-fiction
 2457       News of the World  historical-fiction
 2458                  Peruna  historical-fiction
 2459           Sylvie’s Love  historical-fiction
 2460      One Night in Miami  historical-fiction

 [2461 rows x 2 columns],
 'fantasy':                                       Movie Creative Type
 0                                 Sorceress       fantasy
 1        Tales from the Crypt: Demon Knight       fantasy
 2           Highlander: The Final Dimension       fantasy
 3                   In the Mouth of Madness       fantasy
 4                  The Secret of Roan Inish       fantasy
 ...                                     ...           ...
 1522  Yi tin to lung gei: Moh gaau gaau jue       fantasy
 1523                          Space Panda 4       fantasy
 1524           Wonderful Kingdom: Enchanted       fantasy
 1525  Kimetsu no Yaiba: Hashira Gou Kaigi�…       fantasy
 1526         Eiga Entotsu Machi no Poupelle       fantasy

 [1527 rows x 2 columns],
 'super-hero':                         Movie Creative Type
 0              Batman Forever    super-hero
 1                 The Phantom    super-hero
 2              Batman & Robin    super-hero
 3                       Steel    super-hero
 4                       Blade    super-hero
 ..                        ...           ...
 193         Orígenes secretos    super-hero
 194  Freaks: You're One of Us    super-hero
 195       La mujer murcielago    super-hero
 196         Wonder Woman 1984    super-hero
 197          We Can Be Heroes    super-hero

 [198 rows x 2 columns],
 'dramatization':                              Movie  Creative Type
 0              Murder in the First  dramatization
 1                        Farinelli  dramatization
 2     Art for Teachers of Children  dramatization
 3               Jefferson in Paris  dramatization
 4                          Rob Roy  dramatization
 ...                            ...            ...
 1665           Louis van Beethoven  dramatization
 1666      Ma Rainey’s Black Bottom  dramatization
 1667  Girl Lost: A Hollywood Story  dramatization
 1668            The Penitent Thief  dramatization
 1669      Den største forbrytelsen  dramatization

 [1670 rows x 2 columns],
 'factual':                                 Movie Creative Type
 0                              Tsahal       factual
 1                      The Living Sea       factual
 2       Baseball: A Film By Ken Burns       factual
 3                               Crumb       factual
 4                Black Is…Blanc Ain’t       factual
 ...                               ...           ...
 6182          A Mind Like Still Water       factual
 6183  Stevie Nicks: Broadcasting Live       factual
 6184                  Yearly Departed       factual
 6185      Descubriendo a José Padilla       factual
 6186          The Forgotten Battalion       factual

 [6187 rows x 2 columns]}

## Combining Creative Types

In [ ]:

creative_type_all_df = pd.DataFrame()

for i in creative_types.keys():
  creative_type_all_df = pd.concat([creative_type_all_df, creative_types[i]], ignore_index = True)

creative_type_all_df

                                 Movie         Creative Type
0                           Houseguest  contemporary-fiction
1                            Showgirls  contemporary-fiction
2                      Higher Learning  contemporary-fiction
3                               Baasha  contemporary-fiction
4         Amityville: A New Generation  contemporary-fiction
...                                ...                   ...
33071          A Mind Like Still Water               factual
33072  Stevie Nicks: Broadcasting Live               factual
33073                  Yearly Departed               factual
33074      Descubriendo a José Padilla               factual
33075          The Forgotten Battalion               factual

[33076 rows x 2 columns]

# **Generating Actor and Director Datasets**

## Generating values

In [ ]:
# add column of values for given dataframe
def generate_values(star_df, alpha):

  # create empty column to be filled
  star_df['Value'] = 0.0

  # iterate over dataframe indices
  for i in range(len(star_df)):

    # convert average earnings string into float
    star_df.loc[i, 'Average'] = float(star_df.loc[i, 'Average'].replace("$", "").replace(",", ""))

    average_box_office = star_df.loc[i, 'Average']
    num_movies = star_df.loc[i, 'Movies']

    # calculate values based on average earnings and percent cut
    star_df.loc[i, 'Value'] = np.log(average_box_office * (num_movies ** alpha))

  return star_df

## Scraping Actors

In [ ]:
# extract actors from website given categories and types
def scrape_actors(category_dict, chosen_category, chosen_type):

  # define dataframe for storage
  actor_df = pd.DataFrame()

  # initialize incremental rank for pagination
  current_rank = 1

  try:

    # iterate through ranks
    while current_rank <= category_dict[chosen_type]:

      # update url for current iteration
      current_url = actor_url.format(category=chosen_category, category_type=chosen_type, rank=current_rank)

      # retrieve webpage
      page = requests.get(current_url, headers={'User-Agent': random.choice(user_agents_list)})

      # creating parsing entity
      soup = bs(page.text, 'html.parser')

      # extract main table of data
      page_df = pd.read_html(StringIO(page.text), attrs={"style": None})[0]

      # convert scraped table into dataframe
      actor_df = pd.concat([actor_df, page_df], ignore_index=True)

      # increment rank for next page
      current_rank += 100

  except Exception as e:
    print(e)

  # return dataframe with values
  return generate_values(actor_df, 2)

### Collecting all actors in one dataset

In [ ]:
actor_data = categories.copy()

for i in categories.keys():
    for j in categories[i]:

      actor_data[i][j] = scrape_actors(categories[i], i, j)
      print(actor_data[i][j])

actor_data

No tables found
      Rank                       Name Domestic Box Office  Movies  \
0        1           Daniel Radcliffe      $2,498,074,626      10
1        2                Johnny Depp      $2,456,795,398      13
2        3              Harrison Ford      $2,446,475,667      11
3        4               Rupert Grint      $2,391,615,589       9
4        5                Emma Watson      $2,391,615,589       8
...    ...                        ...                 ...     ...
1549  1550           Pal Sverre Hagen              $1,369       1
1550  1551  Julian Rasmussen Podolski              $1,369       1
1551  1552        Nicolai Cleve Broca              $1,369       1
1552  1553            Bjorn Sundquist              $1,369       1
1553  1554            Julian Richings                $584       1

          Average      Value
0     249807463.0  23.941371
1     188984261.0  24.187073
2     222406879.0  24.015810
3     265735065.0  23.792460
4     298951949.0  23.674676
...           ...        ...
1549       1369.0   7.221836
1550       1369.0   7.221836
1551       1369.0   7.221836
1552       1369.0   7.221836
1553        584.0   6.369901

[1554 rows x 6 columns]
      Rank                Name Domestic Box Office  Movies      Average  \
0        1         Chris Pratt      $4,641,523,305      12  386793609.0
1        2  Robert Downey, Jr.      $4,300,618,617      10  430061862.0
2        3         Zoe Saldana      $4,112,600,358       9  456955595.0
3        4  Scarlett Johansson      $3,986,424,983      11  362402271.0
4        5     Chris Hemsworth      $3,758,069,941      14  268433567.0
...    ...                 ...                 ...     ...          ...
1375  1376      Arthur Berning                $806       1        806.0
1376  1377    Andreas Cappelen                $806       1        806.0
1377  1378      Charlie Bewley                $614       1        614.0
1378  1379        Elliot Cowan                $614       1        614.0
1379  1380       Jarrid Geduld                $347       1        347.0

          Value
0     24.743215
1     24.484610
2     24.334546
3     24.504056
4     24.686229
...         ...
1375   6.692084
1376   6.692084
1377   6.419995
1378   6.419995
1379   5.849325

[1380 rows x 6 columns]
      Rank              Name Domestic Box Office  Movies     Average  \
0        1      Will Ferrell      $2,468,450,963      31  79627450.0
1        2      Adam Sandler      $1,729,043,073      25  69161723.0
2        3      Eddie Murphy      $1,509,513,801      23  65631035.0
3        4        Jim Carrey      $1,215,096,658      13  93468974.0
4        5       Ben Stiller      $1,167,376,713      16  72961045.0
...    ...               ...                 ...     ...         ...
2895  2896       Swan Joulin                $856       1       856.0
2896  2897    Steve Oedekerk                $718       1       718.0
2897  2898  Shiloh Fernandez                $663       1       663.0
2898  2899    Patrice O'Neal                $646       1       646.0
2899  2900     Maura Tierney                $646       1       646.0

          Value
0     25.060844
1     24.489710
2     24.270548
3     23.483039
4     23.650614
...         ...
2895   6.752270
2896   6.576470
2897   6.496775
2898   6.470800
2899   6.470800

[2900 rows x 6 columns]
      Rank                Name Domestic Box Office  Movies      Average  \
0        1           Tom Hanks      $1,838,237,235      18  102124291.0
1        2   Leonardo DiCaprio      $1,462,571,596      15   97504773.0
2        3    Robert Pattinson      $1,443,462,026      11  131223821.0
3        4     Kristen Stewart      $1,389,795,964      18   77210887.0
4        5      Taylor Lautner      $1,363,537,109       6  227256185.0
...    ...                 ...                 ...     ...          ...
3795  3796       Rachel Schrey              $8,492       1       8492.0
3796  3797  Christopher Dalton              $8,492       1       8492.0
3797  3798   Bethany Davenport              $8,492       1       8492.0
3798  3799     Jerrold Edwards              $8,492       1       8492.0
3799  3800   Vanessa Benavente              $8,448       1       8448.0

          Value
0     24.222445
1     23.811512
2     23.488206
3     23.942795
4     22.825107
...         ...
3795   9.046880
3796   9.046880
3797   9.046880
3798   9.046880
3799   9.041685

[3800 rows x 6 columns]
      Rank               Name Domestic Box Office  Movies      Average  \
0        1  Jennifer Lawrence      $1,191,559,687       6  198593281.0
1        2         Matt Damon      $1,156,324,170       9  128480463.0
2        3     Morgan Freeman        $868,963,512      17   51115501.0
3        4  Denzel Washington        $844,739,198      14   60338514.0
4        5       Bruce Willis        $731,385,112      16   45711570.0
...    ...                ...                 ...     ...          ...
1465  1466   Daniela Espinosa                $796       1        796.0
1466  1467  Natalia de Molina                $684       1        684.0
1467  1468      Bella Agossou                $684       1        684.0
1468  1469         Luis Tosar                $245       3         82.0
1469  1470       Jesus Castro                $245       1        245.0

          Value
0     22.690288
1     23.065737
2     23.416025
3     23.193596
4     23.183039
...         ...
1465   6.679599
1466   6.527958
1467   6.527958
1468   6.603944
1469   5.501258

[1470 rows x 6 columns]
No tables found
      Rank              Name Domestic Box Office  Movies      Average  \
0        1    Bill Skarsgård        $540,422,102       2  270211051.0
1        2  Jamie Lee Curtis        $448,023,420       6   74670570.0
2        3     Neve Campbell        $438,139,839       6   73023307.0
3        4   Anthony Hopkins        $414,856,499       6   69142750.0
4        5       Emily Blunt        $410,461,397       4  102615349.0
...    ...               ...                 ...     ...          ...
1210  1211       Justin Chon                $252       1        252.0
1211  1212       Clara Mamet                $252       1        252.0
1212  1213      Sarah Hyland                $252       1        252.0
1213  1214       Noel Clarke                 $72       1         72.0
1214  1215     Laura Haddock                 $72       1         72.0

          Value
0     20.801008
1     21.712116
2     21.689808
3     21.635203
4     21.219087
...         ...
1210   5.529429
1211   5.529429
1212   5.529429
1213   4.276666
1214   4.276666

[1215 rows x 6 columns]
     Rank              Name Domestic Box Office  Movies     Average      Value
0       1     Julia Roberts        $818,030,065       9  90892229.0  22.719634
1       2  Jennifer Aniston        $574,177,567      10  57417757.0  22.471034
2       3    Drew Barrymore        $507,189,665       8  63398708.0  22.123837
3       4          Meg Ryan        $505,504,016       9  56167113.0  22.238291
4       5        Hugh Grant        $471,431,115       8  58928889.0  22.050725
..    ...               ...                 ...     ...         ...        ...
795   796   Vincent Lacoste             $24,134       1     24134.0  10.091377
796   797       Karin Viard             $24,134       1     24134.0  10.091377
797   798       Sarah Burns             $22,930       1     22930.0  10.040201
798   799  Victoria Justice             $22,836       2     11418.0  10.729241
799   800     Craig Roberts             $22,836       1     22836.0  10.036094

[800 rows x 6 columns]
     Rank            Name Domestic Box Office  Movies      Average      Value
0       1        Josh Gad        $904,967,174       2  452483587.0  21.316556
1       2    Meryl Streep        $564,725,808       5  112945162.0  21.761289
2       3   Ewan McGregor        $561,400,534       2  280700267.0  20.839092
3       4    Ian McKellen        $531,180,935       2  265590468.0  20.783760
4       5      Luke Evans        $504,014,165       1  504014165.0  20.038115
..    ...             ...                 ...     ...          ...        ...
295   296        Tang Wei             $63,029       1      63029.0  11.051350
296   297       Amy Smart             $47,812       1      47812.0  10.775032
297   298      Tom Malloy             $47,812       1      47812.0  10.775032
298   299    Jason Palmer             $33,841       1      33841.0  10.429428
299   300  Desiree Garcia             $33,841       1      33841.0  10.429428

[300 rows x 6 columns]
      Rank                Name Domestic Box Office  Movies      Average  \
0        1          Tom Cruise      $3,693,853,283      27  136809381.0
1        2          Vin Diesel      $2,000,985,576      14  142927541.0
2        3  Sylvester Stallone      $1,975,333,684      43   45937993.0
3        4        Bruce Willis      $1,970,982,037      65   30322801.0
4        5        Adam Sandler      $1,933,002,742      31   62354927.0
...    ...                 ...                 ...     ...          ...
6486  6487        Will Friedle                $217       1        217.0
6487  6488      Petr Skvortsov                $138       1        138.0
6488  6489        Mairen Munoz                 $54       1         54.0
6489  6490           Marta Mir                 $54       1         54.0
6490  6491     Patricia Valley                 $54       1         54.0

          Value
0     25.325773
1     24.055963
2     25.165203
3     25.576185
4     24.816328
...         ...
6486   5.379897
6487   4.927254
6488   3.988984
6489   3.988984
6490   3.988984

[6491 rows x 6 columns]
      Rank                   Name Domestic Box Office  Movies      Average  \
0        1            Mark Hamill      $2,204,585,894       5  440917179.0
1        2            John Boyega      $2,132,944,849       9  236993872.0
2        3            Zoe Saldana      $2,114,654,436       7  302093491.0
3        4            Adam Driver      $2,110,891,119       6  351815187.0
4        5           Daisy Ridley      $2,085,334,057       4  521333514.0
...    ...                    ...                 ...     ...          ...
1207  1208          Pia Halvorsen                $974       1        974.0
1208  1209  Christoffer Nordenrot                $974       1        974.0
1209  1210             Lisa Henni                $974       1        974.0
1210  1211            Noel Clarke                 $72       2         36.0
1211  1212          Laura Haddock                 $72       1         72.0

          Value
0     23.123243
1     23.677994
2     23.418067
3     23.262135
4     22.844489
...         ...
1207   6.881411
1208   6.881411
1209   6.881411
1210   4.969813
1211   4.276666

[1212 rows x 6 columns]
     Rank                Name Domestic Box Office  Movies      Average  \
0       1        Steve Carell      $1,811,918,139       7  258845448.0
1       2        Eddie Murphy      $1,732,077,328       8  216509666.0
2       3           Tim Allen      $1,687,386,079       8  210923260.0
3       4           Tom Hanks      $1,506,163,601       7  215166229.0
4       5  Keegan-Michael Key      $1,428,403,526       7  204057647.0
..    ...                 ...                 ...     ...          ...
928   929      Matthew Knight              $3,564       1       3564.0
929   930         Anupam Kher              $2,815       2       1408.0
930   931      Manjari Fadnis              $2,815       1       2815.0
931   932     Darsheel Safary              $2,815       1       2815.0
932   933       Lola Lasseron                 $88       1         88.0

         Value
0    23.263562
1    23.352029
2    23.325888
3    23.078742
4    23.025733
..         ...
928   8.178639
929   8.636220
930   7.942718
931   7.942718
932   4.477337

[933 rows x 6 columns]
      Rank                 Name Domestic Box Office  Movies      Average  \
0        1          Johnny Depp      $1,674,499,910      17   98499995.0
1        2    Leonardo DiCaprio      $1,394,863,925      10  139486393.0
2        3        Harrison Ford      $1,178,762,111       9  130973568.0
3        4            Tom Hanks      $1,053,744,296      10  105374430.0
4        5        Orlando Bloom        $933,811,140       5  186762228.0
...    ...                  ...                 ...     ...          ...
1495  1496          Bruna Cusí            $185,903       1     185903.0
1496  1497      David Verdaguer            $185,903       1     185903.0
1497  1498         Laia Artigas            $185,903       1     185903.0
1498  1499           Joel Torre            $184,705       1     184705.0
1499  1500  Anamaria Vartolomei            $181,023       1     181023.0

          Value
0     24.071994
1     23.358648
2     23.084955
3     23.078201
4     22.264223
...         ...
1495  12.132980
1496  12.132980
1497  12.132980
1498  12.126515
1499  12.106379

[1500 rows x 6 columns]
     Rank              Name Domestic Box Office  Movies      Average  \
0       1       Emma Watson      $2,895,629,754       9  321736639.0
1       2  Daniel Radcliffe      $2,446,113,359      10  244611336.0
2       3      Rupert Grint      $2,391,615,589       8  298951949.0
3       4      Ian McKellen      $1,568,296,659       5  313659332.0
4       5   Kristen Stewart      $1,554,048,697       7  222006957.0
..    ...               ...                 ...     ...          ...
992   993   Julian Richings                $584       1        584.0
993   994        Kai Lennox                $256       1        256.0
994   995    Steven Krueger                $252       1        252.0
995   996       Justin Chon                $252       1        252.0
996   997       Clara Mamet                $252       1        252.0

         Value
0    23.983693
1    23.920351
2    23.674676
3    22.782694
4    23.110040
..         ...
992   6.369901
993   5.545177
994   5.529429
995   5.529429
996   5.529429

[997 rows x 6 columns]
     Rank                  Name Domestic Box Office  Movies      Average  \
0       1    Robert Downey, Jr.      $4,401,867,478       9  489096386.0
1       2    Scarlett Johansson      $3,783,468,553       8  472933569.0
2       3       Chris Hemsworth      $3,665,260,143       8  458157518.0
3       4           Chris Evans      $3,595,959,810       8  449494976.0
4       5     Samuel L. Jackson      $3,189,600,362       8  398700045.0
..    ...                   ...                 ...     ...          ...
321   322       Vincent Lacoste             $64,484       1      64484.0
322   323      Jean-Pascal Zadi             $64,484       1      64484.0
323   324         Audrey Tautou             $34,361       1      34361.0
324   325  Jean-Pierre Marielle             $34,361       1      34361.0
325   326          Edouard Baer             $34,361       1      34361.0

         Value
0    24.402519
1    24.133349
2    24.101607
3    24.082518
4    23.962603
..         ...
321  11.074172
322  11.074172
323  10.444677
324  10.444677
325  10.444677

[326 rows x 6 columns]
      Rank               Name Domestic Box Office  Movies      Average  \
0        1          Tom Hanks        $941,220,726      10   94122073.0
1        2  Leonardo DiCaprio        $750,332,438       9   83370271.0
2        3     James Caviezel        $609,460,061       6  101576677.0
3        4     Bradley Cooper        $556,676,060       4  139169015.0
4        5  Denzel Washington        $510,348,940       9   56705438.0
...    ...                ...                 ...     ...          ...
1289  1290     Scott Speedman                $625       1        625.0
1290  1291       Ansel Elgort                $618       2        309.0
1291  1292         Roy Dupuis                $594       2        297.0
1292  1293  Martijn Lakemeier                $180       1        180.0
1293  1294     Marwan Kenzari                $180       2         90.0

          Value
0     22.965273
1     22.633251
2     22.019843
3     21.523788
4     22.247830
...         ...
1289   6.437752
1290   7.119636
1291   7.080026
1292   5.192957
1293   5.886104

[1294 rows x 6 columns]
     Rank                             Name Domestic Box Office  Movies  \
0       1                     Taylor Swift        $178,243,751       1
1       2                 Johnny Knoxville        $102,003,019       2
2       3                   Jackson Nicoll        $102,003,019       1
3       4                      Miley Cyrus         $65,281,781       1
4       5                       Kevin Hart         $63,541,530       3
..    ...                              ...                 ...     ...
164   165                Michele Rothstein              $4,345       1
165   166    Don "Buster Balloon" Caldwell              $4,345       1
166   167  Vera "The Balloon Lady" Stalker              $4,345       1
167   168     Laura "Annie Banannie" Dakin              $4,345       1
168   169                       Fred Lebow              $2,992       1

         Average      Value
0    178243751.0  18.998663
1     51001510.0  19.133660
2    102003019.0  18.440513
3     65281781.0  17.994224
4     21180510.0  19.065817
..           ...        ...
164       4345.0   8.376781
165       4345.0   8.376781
166       4345.0   8.376781
167       4345.0   8.376781
168       2992.0   8.003697

[169 rows x 6 columns]
      Rank            Name Domestic Box Office  Movies      Average      Value
0        1      Tom Cruise      $4,617,449,063      41  112620709.0  25.966680
1        2   Harrison Ford      $4,074,118,754      41   99368750.0  25.841492
2        3       Tom Hanks      $3,651,618,689      48   76075389.0  25.889637
3        4      Matt Damon      $3,176,054,792      41   77464751.0  25.592478
4        5  Dwayne Johnson      $3,009,859,227      30  100328641.0  25.226357
...    ...             ...                 ...     ...          ...        ...
8795  8796      Luis Tosar                $245       4         61.0   6.883463
8796  8797    Will Friedle                $217       1        217.0   5.379897
8797  8798  Marwan Kenzari                $180       4         45.0   6.579251
8798  8799  Petr Skvortsov                $138       1        138.0   4.927254
8799  8800   Lola Lasseron                 $88       1         88.0   4.477337

[8800 rows x 6 columns]
     Rank                    Name Domestic Box Office  Movies      Average  \
0       1             Zoe Saldana      $4,089,008,926       8  511126116.0
1       2      Robert Downey, Jr.      $3,105,591,597       6  517598600.0
2       3      Scarlett Johansson      $2,983,553,383       5  596710677.0
3       4             Emma Watson      $2,895,629,754       9  321736639.0
4       5         Chris Hemsworth      $2,827,904,641       6  471317440.0
..    ...                     ...                 ...     ...          ...
504   505           Violett Beane            $101,987       1     101987.0
505   506           Nick Offerman             $89,435       1      89435.0
506   507           Keith Poulson             $89,435       1      89435.0
507   508            Jess Weixler             $89,435       1      89435.0
508   509  Thomas Brodie-Sangster                $607       1        607.0

         Value
0    24.211010
1    23.648230
2    23.425819
3    23.983693
4    23.554561
..         ...
504  11.532601
505  11.401267
506  11.401267
507  11.401267
508   6.408529

[509 rows x 6 columns]
     Rank                  Name Domestic Box Office  Movies      Average  \
0       1          Steve Carell      $1,899,493,429       7  271356204.0
1       2             Tom Hanks      $1,506,163,601       6  251027267.0
2       3             Tim Allen      $1,318,120,746       5  263624149.0
3       4          Cameron Diaz      $1,270,337,989       4  317584497.0
4       5            Mike Myers      $1,270,337,989       4  317584497.0
..    ...                   ...                 ...     ...          ...
680   681         Michael Palin              $5,102       1       5102.0
681   682           Terry Jones              $5,102       1       5102.0

{'genres': {'adventure':       Rank                       Name Domestic Box Office  Movies  \
  0        1           Daniel Radcliffe      $2,498,074,626      10
  1        2                Johnny Depp      $2,456,795,398      13
  2        3              Harrison Ford      $2,446,475,667      11
  3        4               Rupert Grint      $2,391,615,589       9
  4        5                Emma Watson      $2,391,615,589       8
  ...    ...                        ...                 ...     ...
  1549  1550           Pal Sverre Hagen              $1,369       1
  1550  1551  Julian Rasmussen Podolski              $1,369       1
  1551  1552        Nicolai Cleve Broca              $1,369       1
  1552  1553            Bjorn Sundquist              $1,369       1
  1553  1554            Julian Richings                $584       1

            Average      Value
  0     249807463.0  23.941371
  1     188984261.0  24.187073
  2     222406879.0  24.015810
  3     265735065.0  23.792460
  4     298951949.0  23.674676
  ...           ...        ...
  1549       1369.0   7.221836
  1550       1369.0   7.221836
  1551       1369.0   7.221836
  1552       1369.0   7.221836
  1553        584.0   6.369901

  [1554 rows x 6 columns],
  'action':       Rank                Name Domestic Box Office  Movies      Average  \
  0        1         Chris Pratt      $4,641,523,305      12  386793609.0
  1        2  Robert Downey, Jr.      $4,300,618,617      10  430061862.0
  2        3         Zoe Saldana      $4,112,600,358       9  456955595.0
  3        4  Scarlett Johansson      $3,986,424,983      11  362402271.0
  4        5     Chris Hemsworth      $3,758,069,941      14  268433567.0
  ...    ...                 ...                 ...     ...          ...
  1375  1376      Arthur Berning                $806       1        806.0
  1376  1377    Andreas Cappelen                $806       1        806.0
  1377  1378      Charlie Bewley                $614       1        614.0
  1378  1379        Elliot Cowan                $614       1        614.0
  1379  1380       Jarrid Geduld                $347       1        347.0

            Value
  0     24.743215
  1     24.484610
  2     24.334546
  3     24.504056
  4     24.686229
  ...         ...
  1375   6.692084
  1376   6.692084
  1377   6.419995
  1378   6.419995
  1379   5.849325

  [1380 rows x 6 columns],
  'comedy':       Rank              Name Domestic Box Office  Movies     Average  \
  0        1      Will Ferrell      $2,468,450,963      31  79627450.0
  1        2      Adam Sandler      $1,729,043,073      25  69161723.0
  2        3      Eddie Murphy      $1,509,513,801      23  65631035.0
  3        4        Jim Carrey      $1,215,096,658      13  93468974.0
  4        5       Ben Stiller      $1,167,376,713      16  72961045.0
  ...    ...               ...                 ...     ...         ...
  2895  2896       Swan Joulin                $856       1       856.0
  2896  2897    Steve Oedekerk                $718       1       718.0
  2897  2898  Shiloh Fernandez                $663       1       663.0
  2898  2899    Patrice O'Neal                $646       1       646.0
  2899  2900     Maura Tierney                $646       1       646.0

            Value
  0     25.060844
  1     24.489710
  2     24.270548
  3     23.483039
  4     23.650614
  ...         ...
  2895   6.752270
  2896   6.576470
  2897   6.496775
  2898   6.470800
  2899   6.470800

  [2900 rows x 6 columns],
  'drama':       Rank                Name Domestic Box Office  Movies      Average  \
  0        1           Tom Hanks      $1,838,237,235      18  102124291.0
  1        2   Leonardo DiCaprio      $1,462,571,596      15   97504773.0
  2        3    Robert Pattinson      $1,443,462,026      11  131223821.0
  3        4     Kristen Stewart      $1,389,795,964      18   77210887.0
  4        5      Taylor Lautner      $1,363,537,109       6  227256185.0
  ...    ...                 ...                 ...     ...          ...
  3795  3796       Rachel Schrey              $8,492       1       8492.0
  3796  3797  Christopher Dalton              $8,492       1       8492.0
  3797  3798   Bethany Davenport              $8,492       1       8492.0
  3798  3799     Jerrold Edwards              $8,492       1       8492.0
  3799  3800   Vanessa Benavente              $8,448       1       8448.0

            Value
  0     24.222445
  1     23.811512
  2     23.488206
  3     23.942795
  4     22.825107
  ...         ...
  3795   9.046880
  3796   9.046880
  3797   9.046880
  3798   9.046880
  3799   9.041685

  [3800 rows x 6 columns],
  'thriller-or-suspense':       Rank               Name Domestic Box Office  Movies      Average  \
  0        1  Jennifer Lawrence      $1,191,559,687       6  198593281.0
  1        2         Matt Damon      $1,156,324,170       9  128480463.0
  2        3     Morgan Freeman        $868,963,512      17   51115501.0
  3        4  Denzel Washington        $844,739,198      14   60338514.0
  4        5       Bruce Willis        $731,385,112      16   45711570.0
  ...    ...                ...                 ...     ...          ...
  1465  1466   Daniela Espinosa                $796       1        796.0
  1466  1467  Natalia de Molina                $684       1        684.0
  1467  1468      Bella Agossou                $684       1        684.0
  1468  1469         Luis Tosar                $245       3         82.0
  1469  1470       Jesus Castro                $245       1        245.0

            Value
  0     22.690288
  1     23.065737
  2     23.416025
  3     23.193596
  4     23.183039
  ...         ...
  1465   6.679599
  1466   6.527958
  1467   6.527958
  1468   6.603944
  1469   5.501258

  [1470 rows x 6 columns],
  'horror':       Rank              Name Domestic Box Office  Movies      Average  \
  0        1    Bill Skarsgård        $540,422,102       2  270211051.0
  1        2  Jamie Lee Curtis        $448,023,420       6   74670570.0
  2        3     Neve Campbell        $438,139,839       6   73023307.0
  3        4   Anthony Hopkins        $414,856,499       6   69142750.0
  4        5       Emily Blunt        $410,461,397       4  102615349.0
  ...    ...               ...                 ...     ...          ...
  1210  1211       Justin Chon                $252       1        252.0
  1211  1212       Clara Mamet                $252       1        252.0
  1212  1213      Sarah Hyland                $252       1        252.0
  1213  1214       Noel Clarke                 $72       1         72.0
  1214  1215     Laura Haddock                 $72       1         72.0

            Value
  0     20.801008
  1     21.712116
  2     21.689808
  3     21.635203
  4     21.219087
  ...         ...
  1210   5.529429
  1211   5.529429
  1212   5.529429
  1213   4.276666
  1214   4.276666

  [1215 rows x 6 columns],
  'romantic-comedy':      Rank              Name Domestic Box Office  Movies     Average      Value
  0       1     Julia Roberts        $818,030,065       9  90892229.0  22.719634
  1       2  Jennifer Aniston        $574,177,567      10  57417757.0  22.471034
  2       3    Drew Barrymore        $507,189,665       8  63398708.0  22.123837
  3       4          Meg Ryan        $505,504,016       9  56167113.0  22.238291
  4       5        Hugh Grant        $471,431,115       8  58928889.0  22.050725
  ..    ...               ...                 ...     ...         ...        ...
  795   796   Vincent Lacoste             $24,134       1     24134.0  10.091377
  796   797       Karin Viard             $24,134       1     24134.0  10.091377
  797   798       Sarah Burns             $22,930       1     22930.0  10.040201
  798   799  Victoria Justice             $22,836       2     11418.0  10.729241
  799   800     Craig Roberts             $22,836       1     22836.0  10.036094

  [800 rows x 6 columns],
  'musical':      Rank            Name Domestic Box Office  Movies      Average      Value
  0       1        Josh Gad        $904,967,174       2  452483587.0  21.316556
  1       2    Meryl Streep        $564,725,808       5  112945162.0  21.761289
  2       3   Ewan McGregor        $561,400,534       2  280700267.0  20.839092
  3       4    Ian McKellen        $531,180,935       2  265590468.0  20.783760
  4       5      Luke Evans        $504,014,165       1  504014165.0  20.038115
  ..    ...             ...                 ...     ...          ...        ...
  295   296        Tang Wei             $63,029       1      63029.0  11.051350
  296   297       Amy Smart             $47,812       1      47812.0  10.775032
  297   298      Tom Malloy             $47,812       1      47812.0  10.775032
  298   299    Jason Palmer             $33,841       1      33841.0  10.429428
  299   300  Desiree Garcia             $33,841       1      33841.0  10.429428

  [300 rows x 6 columns]},
 'creative-types': {'contemporary-fiction':       Rank                Name Domestic Box Office  Movies      Average  \
  0        1          Tom Cruise      $3,693,853,283      27  136809381.0
  1        2          Vin Diesel      $2,000,985,576      14  142927541.0
  2        3  Sylvester Stallone      $1,975,333,684      43   45937993.0
  3        4        Bruce Willis      $1,970,982,037      65   30322801.0
  4        5        Adam Sandler      $1,933,002,742      31   62354927.0
  ...    ...                 ...                 ...     ...          ...
  6486  6487        Will Friedle                $217       1        217.0
  6487  6488      Petr Skvortsov                $138       1        138.0
  6488  6489        Mairen Munoz                 $54       1         54.0
  6489  6490           Marta Mir                 $54       1         54.0
  6490  6491     Patricia Valley                 $54       1         54.0

            Value
  0     25.325773
  1     24.055963
  2     25.165203
  3     25.576185
  4     24.816328
  ...         ...
  6486   5.379897
  6487   4.927254
  6488   3.988984
  6489   3.988984
  6490   3.988984

  [6491 rows x 6 columns],
  'science-fiction':       Rank                   Name Domestic Box Office  Movies      Average  \
  0        1            Mark Hamill      $2,204,585,894       5  440917179.0
  1        2            John Boyega      $2,132,944,849       9  236993872.0
  2        3            Zoe Saldana      $2,114,654,436       7  302093491.0
  3        4            Adam Driver      $2,110,891,119       6  351815187.0
  4        5           Daisy Ridley      $2,085,334,057       4  521333514.0
  ...    ...                    ...                 ...     ...          ...
  1207  1208          Pia Halvorsen                $974       1        974.0
  1208  1209  Christoffer Nordenrot                $974       1        974.0
  1209  1210             Lisa Henni                $974       1        974.0
  1210  1211            Noel Clarke                 $72       2         36.0
  1211  1212          Laura Haddock                 $72       1         72.0

            Value
  0     23.123243
  1     23.677994
  2     23.418067
  3     23.262135
  4     22.844489
  ...         ...
  1207   6.881411
  1208   6.881411
  1209   6.881411
  1210   4.969813
  1211   4.276666

  [1212 rows x 6 columns],
  'kids-fiction':      Rank                Name Domestic Box Office  Movies      Average  \
  0       1        Steve Carell      $1,811,918,139       7  258845448.0
  1       2        Eddie Murphy      $1,732,077,328       8  216509666.0
  2       3           Tim Allen      $1,687,386,079       8  210923260.0
  3       4           Tom Hanks      $1,506,163,601       7  215166229.0
  4       5  Keegan-Michael Key      $1,428,403,526       7  204057647.0
  ..    ...                 ...                 ...     ...          ...
  928   929      Matthew Knight              $3,564       1       3564.0
  929   930         Anupam Kher              $2,815       2       1408.0
  930   931      Manjari Fadnis              $2,815       1       2815.0
  931   932     Darsheel Safary              $2,815       1       2815.0
  932   933       Lola Lasseron                 $88       1         88.0

           Value
  0    23.263562
  1    23.352029
  2    23.325888
  3    23.078742
  4    23.025733
  ..         ...
  928   8.178639
  929   8.636220
  930   7.942718
  931   7.942718
  932   4.477337

  [933 rows x 6 columns],
  'historical-fiction':       Rank                 Name Domestic Box Office  Movies      Average  \
  0        1          Johnny Depp      $1,674,499,910      17   98499995.0
  1        2    Leonardo DiCaprio      $1,394,863,925      10  139486393.0
  2        3        Harrison Ford      $1,178,762,111       9  130973568.0
  3        4            Tom Hanks      $1,053,744,296      10  105374430.0
  4        5        Orlando Bloom        $933,811,140       5  186762228.0
  ...    ...                  ...                 ...     ...          ...
  1495  1496          Bruna Cusí            $185,903       1     185903.0
  1496  1497      David Verdaguer            $185,903       1     185903.0
  1497  1498         Laia Artigas            $185,903       1     185903.0
  1498  1499           Joel Torre            $184,705       1     184705.0
  1499  1500  Anamaria Vartolomei            $181,023       1     181023.0

            Value
  0     24.071994
  1     23.358648
  2     23.084955
  3     23.078201
  4     22.264223
  ...         ...
  1495  12.132980
  1496  12.132980
  1497  12.132980
  1498  12.126515
  1499  12.106379

  [1500 rows x 6 columns],
  'fantasy':      Rank              Name Domestic Box Office  Movies      Average  \
  0       1       Emma Watson      $2,895,629,754       9  321736639.0
  1       2  Daniel Radcliffe      $2,446,113,359      10  244611336.0
  2       3      Rupert Grint      $2,391,615,589       8  298951949.0
  3       4      Ian McKellen      $1,568,296,659       5  313659332.0
  4       5   Kristen Stewart      $1,554,048,697       7  222006957.0
  ..    ...               ...                 ...     ...          ...
  992   993   Julian Richings                $584       1        584.0
  993   994        Kai Lennox                $256       1        256.0
  994   995    Steven Krueger                $252       1        252.0
  995   996       Justin Chon                $252       1        252.0
  996   997       Clara Mamet                $252       1        252.0

           Value
  0    23.983693
  1    23.920351
  2    23.674676
  3    22.782694
  4    23.110040
  ..         ...
  992   6.369901
  993   5.545177
  994   5.529429
  995   5.529429
  996   5.529429

  [997 rows x 6 columns],
  'super-hero':      Rank                  Name Domestic Box Office  Movies      Average  \
  0       1    Robert Downey, Jr.      $4,401,867,478       9  489096386.0
  1       2    Scarlett Johansson      $3,783,468,553       8  472933569.0
  2       3       Chris Hemsworth      $3,665,260,143       8  458157518.0
  3       4           Chris Evans      $3,595,959,810       8  449494976.0
  4       5     Samuel L. Jackson      $3,189,600,362       8  398700045.0
  ..    ...                   ...                 ...     ...          ...
  321   322       Vincent Lacoste             $64,484       1      64484.0
  322   323      Jean-Pascal Zadi             $64,484       1      64484.0
  323   324         Audrey Tautou             $34,361       1      34361.0
  324   325  Jean-Pierre Marielle             $34,361       1      34361.0
  325   326          Edouard Baer             $34,361       1      34361.0

           Value
  0    24.402519
  1    24.133349
  2    24.101607
  3    24.082518
  4    23.962603
  ..         ...
  321  11.074172
  322  11.074172
  323  10.444677
  324  10.444677
  325  10.444677

  [326 rows x 6 columns],
  'dramatization':       Rank               Name Domestic Box Office  Movies      Average  \
  0        1          Tom Hanks        $941,220,726      10   94122073.0
  1        2  Leonardo DiCaprio        $750,332,438       9   83370271.0
  2        3     James Caviezel        $609,460,061       6  101576677.0
  3        4     Bradley Cooper        $556,676,060       4  139169015.0
  4        5  Denzel Washington        $510,348,940       9   56705438.0
  ...    ...                ...                 ...     ...          ...
  1289  1290     Scott Speedman                $625       1        625.0
  1290  1291       Ansel Elgort                $618       2        309.0
  1291  1292         Roy Dupuis                $594       2        297.0
  1292  1293  Martijn Lakemeier                $180       1        180.0
  1293  1294     Marwan Kenzari                $180       2         90.0

            Value
  0     22.965273
  1     22.633251
  2     22.019843
  3     21.523788
  4     22.247830
  ...         ...
  1289   6.437752
  1290   7.119636
  1291   7.080026
  1292   5.192957
  1293   5.886104

  [1294 rows x 6 columns],
  'factual':      Rank                             Name Domestic Box Office  Movies  \
  0       1                     Taylor Swift        $178,243,751       1
  1       2                 Johnny Knoxville        $102,003,019       2
  2       3                   Jackson Nicoll        $102,003,019       1
  3       4                      Miley Cyrus         $65,281,781       1
  4       5                       Kevin Hart         $63,541,530       3
  ..    ...                              ...                 ...     ...
  164   165                Michele Rothstein              $4,345       1
  165   166    Don "Buster Balloon" Caldwell              $4,345       1
  166   167  Vera "The Balloon Lady" Stalker              $4,345       1
  167   168     Laura "Annie Banannie" Dakin              $4,345       1
  168   169                       Fred Lebow              $2,992       1

           Average      Value
  0    178243751.0  18.998663
  1     51001510.0  19.133660
  2    102003019.0  18.440513
  3     65281781.0  17.994224
  4     21180510.0  19.065817
  ..           ...        ...
  164       4345.0   8.376781
  165       4345.0   8.376781
  166       4345.0   8.376781
  167       4345.0   8.376781
  168       2992.0   8.003697

  [169 rows x 6 columns]},
 'production-methods': {'live-action':       Rank            Name Domestic Box Office  Movies      Average      Value
  0        1      Tom Cruise      $4,617,449,063      41  112620709.0  25.966680
  1        2   Harrison Ford      $4,074,118,754      41   99368750.0  25.841492
  2        3       Tom Hanks      $3,651,618,689      48   76075389.0  25.889637
  3        4      Matt Damon      $3,176,054,792      41   77464751.0  25.592478
  4        5  Dwayne Johnson      $3,009,859,227      30  100328641.0  25.226357
  ...    ...             ...                 ...     ...          ...        ...
  8795  8796      Luis Tosar                $245       4         61.0   6.883463
  8796  8797    Will Friedle                $217       1        217.0   5.379897
  8797  8798  Marwan Kenzari                $180       4         45.0   6.579251
  8798  8799  Petr Skvortsov                $138       1        138.0   4.927254
  8799  8800   Lola Lasseron                 $88       1         88.0   4.477337

  [8800 rows x 6 columns],
  'animation-and-live-action':      Rank                    Name Domestic Box Office  Movies      Average  \
  0       1             Zoe Saldana      $4,089,008,926       8  511126116.0
  1       2      Robert Downey, Jr.      $3,105,591,597       6  517598600.0
  2       3      Scarlett Johansson      $2,983,553,383       5  596710677.0
  3       4             Emma Watson      $2,895,629,754       9  321736639.0
  4       5         Chris Hemsworth      $2,827,904,641       6  471317440.0
  ..    ...                     ...                 ...     ...          ...
  504   505           Violett Beane            $101,987       1     101987.0

## Scraping Directors

In [ ]:
# define dataframe for storage
director_df = pd.DataFrame()

# initialize incremental rank for pagination
current_rank = 1
max_rank = 7401

try:

  # iterate through ranks
  while current_rank <= max_rank:

    # update url for current iteration
    current_url = director_url.format(rank=current_rank)

    # retrieve webpage
    page = requests.get(current_url, headers={'User-Agent': random.choice(user_agents_list)})

    # creating parsing entity
    soup = bs(page.text, 'html.parser')

    # extract main table of data
    page_df = pd.read_html(StringIO(page.text), attrs={"style": None})[0]

    # convert scraped table into dataframe
    director_df = pd.concat([director_df, page_df], ignore_index=True)

    # increment rank for next page
    current_rank += 100

except Exception as e:
  print(e)

director_df=generate_values(director_df, 2)
director_df

KeyboardInterrupt: ignored

# **Creating final movie dataset**

In [ ]:

def inner_join(df_1, df_2):
  return pd.merge(df_1, df_2, on='Movie', how='inner')

movies_df = inner_join(creative_type_all_df, inner_join(production_method_all_df, source_all_df))
movies_df = inner_join(dist_df, inner_join(budget_df, inner_join(date_df, movies_df)))

movies_df = movies_df.drop_duplicates(subset=['Movie'], keep='first')

movies_df = movies_df[movies_df.Genre != 'Reality']
movies_df = movies_df[movies_df.Genre != 'Western']
movies_df = movies_df[movies_df.Genre != 'Documentary']
movies_df = movies_df[movies_df.Genre != 'Concert/Perfor…']
movies_df = movies_df[movies_df.Genre != 'Black Comedy']

movies_df = movies_df.reset_index(drop = True)


#domestic=np.where(movies_df.loc[:,'Domestic Gross'])
#print(domestic)

movies_df

,Movie,Genre,MPAA Rating,Distributor,Production Budget,Domestic Gross,Release Date,Creative Type,Production Method,Source
0,Toy Story,Adventure,G,walt-disney,"$30,000,000","$192,523,233","November, 1995",kids-fiction,digital-animation,original-screenplay
1,Pocahontas,Adventure,G,walt-disney,"$55,000,000","$141,579,773","June, 1995",historical-fiction,hand-animation,based-on-real-life-events
2,Crimson Tide,Action,R,walt-disney,"$55,000,000","$91,387,195","May, 1995",contemporary-fiction,live-action,original-screenplay
3,Dangerous Minds,Drama,R,walt-disney,"$23,000,000","$84,919,401","August, 1995",dramatization,live-action,based-on-factual-book-or-article
4,Man of the House,Comedy,PG,walt-disney,"$50,000,000","$19,699,706","March, 1995",contemporary-fiction,live-action,original-screenplay
...,...,...,...,...,...,...,...,...,...,...
3049,Brahms: The Boy II,Horror,PG-13,miramax-dimension,"$10,000,000","$12,611,536","February, 2020",contemporary-fiction,live-action,original-screenplay
3050,Honest Thief,Thriller/Suspense,PG-13,united-artists,"$30,000,000","$14,163,574","October, 2020",contemporary-fiction,live-action,original-screenplay
3051,Bill & Ted Face the Music,Comedy,PG-13,a24,"$25,000,000","$3,439,660","August, 2020",science-fiction,live-action,original-screenplay
3052,The Last Full Measure,Drama,R,walt-disney,"$20,000,000","$2,949,212","January, 2020",dramatization,live-action,based-on-real-life-events
3053,Words on Bathroom Walls,Drama,PG-13,walt-disney,"$9,300,000","$2,542,518","August, 2020",contemporary-fiction,live-action,based-on-fictional-book-or-short-story

In [ ]:

for i in range(movies_df.shape[0]):
  movies_df.loc[i,'Production Budget']=float(movies_df.loc[i,'Production Budget'].replace("$", "").replace(",", ""))
  movies_df.loc[i,'Domestic Gross']=float(movies_df.loc[i,'Domestic Gross'].replace("$", "").replace(",", ""))

movies_df=movies_df[movies_df.loc[:,'Domestic Gross']!="$0"]
movies_df=movies_df[movies_df.loc[:,'MPAA Rating']!="Not Rated"]
movies_df=movies_df[movies_df.loc[:,'Production Budget']>1600000]
movies_df=movies_df[movies_df.loc[:,'Domestic Gross']>1500000]

movies_df = movies_df.reset_index(drop = True)

movies_df

,Movie,Genre,MPAA Rating,Distributor,Production Budget,Domestic Gross,Release Date,Creative Type,Production Method,Source
0,Toy Story,Adventure,G,walt-disney,30000000.0,192523233.0,"November, 1995",kids-fiction,digital-animation,original-screenplay
1,Pocahontas,Adventure,G,walt-disney,55000000.0,141579773.0,"June, 1995",historical-fiction,hand-animation,based-on-real-life-events
2,Crimson Tide,Action,R,walt-disney,55000000.0,91387195.0,"May, 1995",contemporary-fiction,live-action,original-screenplay
3,Dangerous Minds,Drama,R,walt-disney,23000000.0,84919401.0,"August, 1995",dramatization,live-action,based-on-factual-book-or-article
4,Man of the House,Comedy,PG,walt-disney,50000000.0,19699706.0,"March, 1995",contemporary-fiction,live-action,original-screenplay
...,...,...,...,...,...,...,...,...,...,...
2804,Brahms: The Boy II,Horror,PG-13,miramax-dimension,10000000.0,12611536.0,"February, 2020",contemporary-fiction,live-action,original-screenplay
2805,Honest Thief,Thriller/Suspense,PG-13,united-artists,30000000.0,14163574.0,"October, 2020",contemporary-fiction,live-action,original-screenplay
2806,Bill & Ted Face the Music,Comedy,PG-13,a24,25000000.0,3439660.0,"August, 2020",science-fiction,live-action,original-screenplay
2807,The Last Full Measure,Drama,R,walt-disney,20000000.0,2949212.0,"January, 2020",dramatization,live-action,based-on-real-life-events
2808,Words on Bathroom Walls,Drama,PG-13,walt-disney,9300000.0,2542518.0,"August, 2020",contemporary-fiction,live-action,based-on-fictional-book-or-short-story

## Scraping existing movie casts and crews

In [ ]:

def extract_cast_crew(cast_crew_df,is_cast):
  try:

    for i in range(movies_df.shape[0]):

      movie_name = movies_df.loc[i, 'Movie']
      movie_name = movie_name.translate(str.maketrans('', '', string.punctuation))

      if "The" in movie_name[0:4]:
        the = movie_name[0:4]
        no_the = movie_name[4:]
        movie_name = (no_the + " " + the)

      movie_name = movie_name.replace(' ', '-')
      year = movies_df.loc[i, 'Release Date']
      year = ''.join(i for i in year if i.isdigit())

      current_url = movie_url.format(movie_name = movie_name, year = year)

      page = requests.get(current_url, headers = {'User-Agent': random.choice(user_agents_list)})

      soup = bs(StringIO(page.text), 'html.parser')

      try:

        tables=pd.read_html(StringIO(page.text), attrs={"align":"center"})
        if is_cast:
          table_num=0
        else:
          table_num=len(tables)-1

        sub_df=tables[table_num]
        sub_df['Movie'] = ''
        print(year, movie_name, sub_df)

        for j in range(sub_df.shape[0]):
          sub_df.loc[j, 'Movie'] = movies_df.loc[i, 'Movie']
        cast_crew_df = pd.concat([cast_crew_df, sub_df], ignore_index = True)


      except ValueError as e:
        movies_df.drop([i], axis = 0, inplace = True)

  except Exception as e:
    print(e)

  return cast_crew_df

In [ ]:
cast_df=pd.DataFrame()

cast_df=extract_cast_crew(cast_df,True)
movies_df = movies_df.reset_index(drop = True)
cast_df = cast_df.drop(columns = [1,2]).rename(columns = {0: "Name"})
cast_df['Value'] = 0.0

cast_df

Streaming output truncated to the last 5000 lines.
0  Donald Pleasance NaN  Dr. Samuel "Sam" Loomis
1  Jamie Lee Curtis NaN            Laurie Strode
2007 Mist-The-                    0   1              2 Movie
0        Thomas Jane NaN  David Drayton
1  Marcia Gay Harden NaN   Mrs. Carmody
2     Andre Braugher NaN   Brent Norton
2007 Lars-and-the-Real-Girl               0   1     2 Movie
0  Ryan Gosling NaN  Lars
2007 Whos-Your-Caddy                0   1         2 Movie
0  Jeffrey Jones NaN  Cummings
1        Big Boi NaN    C-Note
2007 Rescue-Dawn                 0   1               2 Movie
0  Christian Bale NaN  Dieter Dengler
2007 Blood-and-Chocolate                 0   1       2 Movie
0  Agnes Bruckner NaN  Vivian
2007 Factory-Girl                0   1              2 Movie
0  Sienna Miller NaN  Edie Sedgwick
2007 No-Country-for-Old-Men                0   1              2 Movie
0  Javier Bardem NaN  Anton Chigurh
1    Josh Brolin NaN  Llewelyn Moss
2007 Gone-Baby-Gone                0   1               2 Movie
0  Casey Affleck NaN  Patrick Kenzie
2007 Becoming-Jane                0   1            2 Movie
0  Anne Hathaway NaN  Jane Austen
2007 Juno              0   1             2 Movie
0  Elliot Page NaN  Juno MacGuff
2007 Namesake-The-           0   1      2 Movie
0  Kal Penn NaN  Gogol
2007 I-Think-I-Love-My-Wife                   0   1               2 Movie
0        Chris Rock NaN  Richard Cooper
1  Kerry Washington NaN       Nikki Tru
2       Gina Torres NaN   Brenda Cooper
2007 Savages-The-                         0   1             2 Movie
0            Laura Linney NaN  Wendy Savage
1  Philip Seymour Hoffman NaN    Jon Savage
2            Philip Bosco NaN  Lenny Savage
2007 Hot-Fuzz             0   1                   2 Movie
0  Simon Pegg NaN      Nicholas Angel
1  Nick Frost NaN  PC Danny Butterman
2007 Atonement                  0   1               2 Movie
0  Keira Knightley NaN  Cecilia Tallis
1     James McAvoy NaN   Robbie Turner
2007 Eastern-Promises                  0   1         2 Movie
0  Viggo Mortensen NaN  Nickolai
1      Naomi Watts NaN      Anna
2   Vincent Cassel NaN    Kirill
2007 Evening                   0   1          2 Movie
0      Claire Danes NaN  Ann Grant
1     Toni Collette NaN  Nina Mars
2  Vanessa Redgrave NaN   Ann Lord
2007 Se-jie                      0   1              2 Movie
0  Tony Leung Chiu Wai NaN        Mr. Yee
1            Joan Chen NaN       Mrs. Yee
2             Wei Tang NaN  Chih-ying Chu
2007 Hannibal-Rising                 0   1                2 Movie
0  Gaspard Ulliel NaN  Hannibal Lecter
2007 Great-Debaters-The-                    0   1                 2 Movie
0  Denzel Washington NaN  Melvin B. Tolson
1    Forest Whitaker NaN  James Farmer Sr.
2007 Arthur-et-les-Minimoys                   0   1       2 Movie
0  Freddie Highmore NaN  Arthur
2007 Awake                     0   1                2 Movie
0  Hayden Christensen NaN             Clay
1        Jessica Alba NaN              Sam
2     Terrence Howard NaN  Dr. Jack Harper
2007 Zwartboek                    0   1                2 Movie
0     Waldemar Kobus NaN  Günther Franken
1      Derek de Lint NaN   Gerben Kuipers
2      Dolf de Vries NaN    Notaris Smaal
3  Carice van Houten NaN     Rachel/Ellis
4         Peter Blok NaN         Van Gein
5     Sebastian Koch NaN    Ludwig Müntze
6      Johnny de Mol NaN             Theo
7       Thom Hoffman NaN   Hans Akkermans
8       Halina Reijn NaN           Ronnie
2007 Persepolis                     0   1                         2 Movie
0  Chiara Mastroianni NaN  Marjane as teenage/adult
1   Catherine Deneuve NaN                The Mother
2   Danielle Darrieux NaN           The Grandmother
3      Simon Abkarian NaN                The Father
4     Gabrielle Lopes NaN          Marjane as Child
2007 Lions-for-Lambs                 0   1                         2 Movie
0  Robert Redford NaN  Professor Stephen Malley
1    Meryl Streep NaN               Janine Roth
2      Tom Cruise NaN     Senator Jasper Irving
2007 Bella                     0   1         2 Movie
0  Eduardo Verastegui NaN      José
1     Tammy Blanchard NaN  Isabella
2008 Bolt                0   1        2 Movie
0  John Travolta NaN     Bolt
1   Susie Essman NaN  Mittens
2    Mark Walton NaN    Rhino
2008 Beverly-Hills-Chihuahua                 0   1        2 Movie
0  Drew Barrymore NaN    Chloe
1     Andy Garcia NaN  Delgado
2    George Lopez NaN     Papi
2008 Bedtime-Stories               0   1                2 Movie
0  Adam Sandler NaN  Skeeter Bronson
1  Keri Russell NaN             Jill
2008 Step-Up-2-the-Streets                 0   1      2 Movie
0   Briana Evigan NaN   Andy
1  Robert Hoffman NaN  Chase
2008 Swing-Vote                   0   1                       2 Movie
0     Kevin Costner NaN             Bud Johnson
1      Paula Patton NaN            Kate Madison
2    Kelsey Grammer NaN  President Andrew Boone
3     Dennis Hopper NaN        Donald Greenleaf
4       Nathan Lane NaN               Art Crumb
5     Stanley Tucci NaN              Martin Fox
6      George Lopez NaN            John Sweeney
7  Madeline Carroll NaN           Molly Johnson
2008 Miracle-at-St-Anna                     0   1                             2 Movie
0          Derek Luke NaN  2nd Staff Sgt. Aubrey Stamps
1        Michael Ealy NaN          Sgt. Bishop Cummings
2          Laz Alonso NaN            Cpl. Hector Negron
3  Omar Benson Miller NaN                 PFC Sam Train
2008 Dark-Knight-The-                 0   1            2 Movie
0  Christian Bale NaN  Bruce Wayne
1    Heath Ledger NaN        Joker
2008 Sex-and-the-City                       0   1                           2 Movie
0  Sarah Jessica Parker NaN             Carrie Bradshaw
1          Kim Cattrall NaN              Samantha Jones
2         Kristin Davis NaN  Charlotte York Goldenblatt
3         Cynthia Nixon NaN              Miranda Hobbes
2008 Get-Smart                0   1              2 Movie
0   Steve Carell NaN  Maxwell Smart
1  Anne Hathaway NaN       Agent 99
2008 Four-Christmases                    0   1     2 Movie
0       Vince Vaughn NaN  Brad
1  Reese Witherspoon NaN  Kate
2008 Yes-Man             0   1           2 Movie
0  Jim Carrey NaN  Carl Allen
2008 Speed-Racer               0   1      2 Movie
0  Emile Hirsch NaN  Speed
2008 Body-of-Lies                    0   1             2 Movie
0  Leonardo DiCaprio NaN  Roger Ferris
1      Russell Crowe NaN    Ed Hoffman
2008 Star-Wars-The-Clone-Wars                      0   1                                  2 Movie
0          Matt Lanter NaN                   Anakin Skywalker
1      Ashley Eckstein NaN                        Ahsoka Tano
2  James Arnold Taylor NaN  Obi-Wan Kenobi/4-A7/Medical Droid
2008 One-Missed-Call                   0   1             2 Movie
0  Shannyn Sossamon NaN  Beth Raymond
1      Edward Burns NaN  Jack Andrews
2008 Pride-and-Glory                0   1            2 Movie
0  Edward Norton NaN  Ray Tierney
1  Colin Farrell NaN   Jimmy Egan
2008 Gran-Torino                 0   1              2 Movie
0  Clint Eastwood NaN  Walt Kowalski
2008 RocknRolla                  0   1           2 Movie
0    Gerard Butler NaN     One Two
1    Tom Wilkinson NaN  Lenny Cole
2  Thandie Newton* NaN      Stella
2008 Hancock             0   1             2 Movie
0  Will Smith NaN  John Hancock
2008 Quantum-of-Solace               0   1           2 Movie
0  Daniel Craig NaN  James Bond
2008 Step-Brothers                 0   1             2 Movie
0    Will Ferrell NaN  Brennan Huff
1  John C. Reilly NaN   Dale Doback
2008 Pineapple-Express                0   1            2 Movie
0     Seth Rogen NaN  Dale Denton
1   James Franco NaN  Saul Silver
2  Danny McBride NaN          Red
2008 21                     0   1              2 Movie
0        Jim Sturgess NaN   Ben Campbell
1       Kate Bosworth NaN    Jill Taylor
2  Laurence Fishburne NaN  Cole Williams
3        Kevin Spacey NaN    Mickey Rosa
4           Aaron Yoo NaN           Choi
5         Liza Lapira NaN         Kianna
6         Jacob Pitts NaN         Fisher
2008 Vantage-Point                   0   1                 2 Movie
0      Dennis Quaid NaN     Thomas Barnes
1       Matthew Fox NaN       Kent Taylor
2   Forest Whitaker NaN      Howard Lewis
3  Sigourney Weaver NaN        Rex Brooks
4      William Hurt NaN  President Ashton
2008 Seven-Pounds             0   1           2 Movie
0  Will Smith NaN  Ben Thomas
2008 House-Bunny-The-             0   1        2 Movie
0  Anna Faris NaN  Shelley
2008 Made-of-Honor                    0   1       2 Movie
0    Patrick Dempsey NaN     Tom
1  Michelle Monaghan NaN  Hannah
2008 Prom-Night                   0   1            2 Movie
0  Jamie Lee Curtis NaN  Kim Hammond
1    Leslie Nielsen NaN  Mr. Hammond
2008 Lakeview-Terrace                    0   1            2 Movie
0  Samuel L. Jackson NaN  Abel Turner
2000 Quarantine                     0   1       2 Movie
0  Jennifer Carpenter NaN  Angela
2008 Untraceable             0   1               2 Movie
0  Diane Lane NaN  Jennifer Marsh
2008 Other-Boleyn-Girl-The-                     0   1                2 Movie
0     Natalie Portman NaN      Anne Boleyn
1  Scarlett Johansson NaN      Mary Boleyn
2           Eric Bana NaN  King Henry VIII
2008 88-Minutes            0   1           2 Movie
0  Al Pacino NaN  Jack Gramm
2008 Cadillac-Records                  0   1              2 Movie
0     Adrien Brody NaN  Leonard Chess
1   Jeffrey Wright NaN   Muddy Waters
2  Beyoncé Knowles NaN     Etta James
2008 Passengers                 0   1               2 Movie
0     David Morse NaN             NaN
1  Andre Braugher NaN             NaN
2     Clea DuVall NaN             NaN
3    Dianne Wiest NaN             NaN
4   Anne Hathaway NaN  Claire Summers
5  Patrick Wilson NaN            Eric
2008 Incredible-Hulk-The-                0   1             2 Movie
0  Edward Norton NaN  Bruce Banner
2008 Wanted               0   1              2 Movie
0  James McAvoy NaN  Wesley Gibson
2008 Role-Models                           0   1        2 Movie
0       Seann William Scott NaN  Wheeler
1                 Paul Rudd NaN    Danny
2  Christopher Mintz-Plasse NaN    Augie
2008 Forgetting-Sarah-Marshall               0   1               2 Movie
0  Kristen Bell NaN  Sarah Marshall
2008 Baby-Mama              0   1                2 Movie
0     Tina Fey NaN    Kate Holbrook
1  Amy Poehler NaN  Angie Ostrowski
2008 Tale-of-Despereaux-The-                    0   1           2 Movie
0  Matthew Broderick NaN  Despereaux
2008 Welcome-Home-Roscoe-Jenkins                  0   1           2 Movie
0  Martin Lawrence NaN  RJ Stevens
2008 Death-Race                0   1             2 Movie
0  Jason Statham NaN  Jensen Aimes
2008 Definitely-Maybe                  0   1               2 Movie
0    Ryan Reynolds NaN      Will Hayes
1      Isla Fisher NaN           April
2  Elizabeth Banks NaN           Emily
3     Rachel Weisz NaN  Summer Hartley
2008 Leatherheads                  0   1                       2 Movie
0   George Clooney NaN  Jimmy 'Dodge' Connelly
1  Renée Zellweger NaN                    Lexi
2008 Doomsday                   0   1              2 Movie
0       Rhona Mitra NaN  Eden Sinclair
1       Bob Hoskins NaN    Bill Nelson
2  Malcolm McDowell NaN           Kane
3  Alexander Siddig NaN   John Hatcher
4       Rick Warden NaN       Chandler
5     Adrian Lester NaN         Norton
6      David O Hara NaN            NaN
2008 Express-The-               0   1                   2 Movie
0     Rob Brown NaN         Ernie Davis
1  Dennis Quaid NaN  Ben Schwartzwalder
2008 Flash-of-Genius               0   1              2 Movie
0  Greg Kinnear NaN  Robert Kearns
2008 Iron-Man                     0   1                        2 Movie
0  Robert Downey Jr.* NaN      Tony Stark/Iron Man
1     Terrence Howard NaN                   Rhodey
2        Jeff Bridges NaN            Obadiah Stane
3     Gwyneth Paltrow NaN  Virginia "Pepper" Potts
2008 Kung-Fu-Panda             0   1   2 Movie
0  Jack Black NaN  Po
2008 Madagascar-Escape-2-Africa                          0   1                         2 Movie
0              Ben Stiller NaN                      Alex
1               Chris Rock NaN  Marty, Additional Zebras
2          David Schwimmer NaN                    Melman
3       Jada Pinkett Smith NaN                    Gloria
4        Sacha Baron Cohen NaN                    Julien
5   Cedric the Entertainer NaN                   Maurice
6             Andy Richter NaN                      Mort
7              Tom McGrath NaN            Skipper, Lemur
8             Chris Miller NaN                  Kowalski
9      Christopher Knights NaN                   Private
10           Conrad Vernon NaN                     Mason
2008 Tropic-Thunder                     0   1                    2 Movie
0         Ben Stiller NaN             Speedman
1          Jack Black NaN  Jeff 'Fats' Portnoy
2  Robert Downey, Jr. NaN         Kirk Lazarus
2008 Eagle-Eye                    0   1                    2 Movie
0       Shia LaBeouf NaN  Jerome "Jerry" Shaw
1  Michelle Monaghan NaN      Rachel Holloman
2008 Cloverfield                      0   1                2 Movie
0         Lizzy Caplan NaN  Marlena Diamond
1        Jessica Lucas NaN        Lily Ford
2          T.J. Miller NaN              Hud
3  Michael Stahl-David NaN      Rob Hawkins
4           Mike Vogel NaN    Jason Hawkins
5       Odette Yustman NaN             Beth
2008 Spiderwick-Chronicles-The-                   0   1            2 Movie
0  Freddie Highmore NaN  Jared/Simon
2008 Drillbit-Taylor              0   1                2 Movie
0  Owen Wilson NaN  Drillbit Taylor
2008 Love-Guru-The-             0   1           2 Movie
0  Mike Myers NaN  Guru Pitka
2008 Ruins-The-                  0   1        2 Movie
0  Jonathan Tucker NaN     Jeff
1      Jena Malone NaN      Amy
2    Shawn Ashmore NaN     Eric
3     Laura Ramsey NaN   Stacey
4     Joe Anderson NaN  Mathias
2008 Ghost-Town                0   1               2 Movie
0  Ricky Gervais NaN  Bertram Pincus
2008 Horton-Hears-a-Who               0   1                       2 Movie
0    Jim Carrey NaN                  Horton
1  Steve Carell NaN  The Mayor of Who-Ville
2008 What-Happens-in-Vegas                 0   1     2 Movie
0    Cameron Diaz NaN   Joy
1  Ashton Kutcher NaN  Jack
2008 Jumper                     0   1      2 Movie
0  Hayden Christensen NaN  David
2008 27-Dresses                  0   1       2 Movie
0  Katherine Heigl NaN    Jane
1    James Marsden NaN   Kevin
2    Malin Akerman NaN    Tess
3       Judy Greer NaN   Casey
4     Edward Burns NaN  George
2008 Day-the-Earth-Stood-Still-The-               0   1       2 Movie
0  Keanu Reeves NaN  Klaatu
2008 Happening-The-                  0   1             2 Movie
0    Mark Wahlberg NaN  Elliot Moore
1  Zooey Deschanel NaN    Alma Moore
2008 Nims-Island                  0   1                  2 Movie
0  Abigail Breslin NaN          Nim Rusoe
1     Jodie Foster NaN    Alexandra Rover
2    Gerard Butler NaN  Jack / Alex Rover
2008 Australia                0   1                  2 Movie
0  Nicole Kidman NaN  Lady Sarah Ashley
1   Hugh Jackman NaN             Drover
2008 Meet-the-Spartans                 0   1              2 Movie
0    Sean Maguire NaN  King Leonidas
1  Carmen Electra NaN    Queen Gorgo
2    Ken Davitian NaN         Xerxes
3     Kevin Sorbo NaN        Captain
2008 Mirrors                    0   1           2 Movie
0  Kiefer Sutherland NaN  Ben Carson
2008 Space-Chimps                    0   1             2 Movie
0       Andy Samberg NaN       Ham III
1       Cheryl Hines NaN          Luna
2       Jeff Daniels NaN        Zartog
3  Patrick Warburton NaN         Titan
4  Kristin Chenoweth NaN      Kilowatt
5      Stanley Tucci NaN   The Senator
6        Kath Soucie NaN  Dr. Smothers
7         Zack Shada NaN         Comet
8         Jane Lynch NaN     Dr. Poole
9        Omid Abtahi NaN      Dr. Jagu
2008 Shutter                 0   1              2 Movie
0  Joshua Jackson NaN  Benjamin Shaw
1  Rachael Taylor NaN          Nicky
2008 Babylon-AD             0   1        2 Movie
0  Vin Diesel NaN  Thoorop
2008 Meet-Dave               0   1     2 Movie
0  Eddie Murphy NaN  Dave
2008 City-of-Ember                  0   1              2 Movie
0    Saoirse Ronan NaN  Lina Mayfleet
1  Harry Treadaway NaN    Doon Harrow
2008 Rocker-The-               0   1     2 Movie
0  Rainn Wilson NaN  Fish
2008 Deception                    0   1                  2 Movie
0       Hugh Jackman NaN         Wyatt Rose
1      Ewan McGregor NaN  Jonathan McQuarry
2  Michelle Williams NaN                  S
2008 Saw-V               0   1         2 Movie
0   Meagan Good NaN      Luba
1  Mark Rolston NaN  Erickson
2    Carlo Rota NaN   Charles
3     Greg Bryk NaN   Mallick
4   Sarah Power NaN  Angelina
2008 Forbidden-Kingdom-The-              0   1                                2 Movie
0  Jackie Chan NaN                   Old Hop/Lu Yan
1       Jet Li NaN  The Monkey King/The Silent Monk
2008 Rambo                     0   1              2 Movie
0  Sylvester Stallone NaN  John J. Rambo
2008 Transporter-3                   0   1                    2 Movie
0     Jason Statham NaN         Frank Martin
1  Natalya Rudakova NaN  Valentina Tomilenko
2003 Eye-The-             0   1     2 Movie
0  Lee Sin-Je NaN  Mann
2008 Bank-Job-The-                0   1      2 Movie
0  Jason Statham NaN  Terry
2008 W              0   1                   2 Movie
0  Josh Brolin NaN  George W. Bush Jr.
2008 My-Best-Friends-Girl              0   1       2 Movie
0    Dane Cook NaN    Tank
1  Kate Hudson NaN  Alexis
2008 Spirit-The-                0   1           2 Movie
0  Gabriel Macht NaN  The Spirit
2001 Bangkok-Dangerous                  0   1         2 Movie
0       Danny Pang NaN  Director
1  Oxide Pang Chun NaN  Director
2008 Disaster-Movie                   0   1     2 Movie
0       Matt Lanter NaN  Will
1  Vanessa Minnillo NaN   Amy
2008 Punisher-War-Zone                0   1                            2 Movie
0  Ray Stevenson NaN  Frank Castle / The Punisher
2008 Witless-Protection                  0   1                        2 Movie
0   Peter Stormare NaN          Arthur Grimsley
1     Eric Roberts NaN           Wilford Duvall
2  Ivana Milicevic NaN                Madeleine
3      Dan Whitney NaN     Deputy Larry Stalder
4     Joe Mantegna NaN  Dr. Rondog 'Doc' Savage
5     Yaphet Kotto NaN            Alonzo Mosely
6   Jenny McCarthy NaN                   Connie
2008 Be-Kind-Rewind             0   1      2 Movie
0  Jack Black NaN  Jerry
2008 Over-Her-Dead-Body               0   1       2 Movie
0  Eva Longoria NaN    Kate
1     Paul Rudd NaN   Henry
2     Lake Bell NaN  Ashley
2008 Superhero-Movie                  0   1                       2 Movie
0       Drake Bell NaN  Rick Riker / Dragonfly
1      Regina Hall NaN             Mrs. Xavier
2  Pamela Anderson NaN          Invisible Girl
3   Leslie Nielsen NaN            Uncle Albert
4     Tracy Morgan NaN        Professor Xavier
5        Simon Rex NaN         The Human Torch
6     Craig Bierko NaN               Wolverine
2008 Vicky-Cristina-Barcelona                     0   1             2 Movie
0       Javier Bardem NaN  Juan Antonio
1       Penélope Cruz NaN   Maria Elena
2  Scarlett Johansson NaN      Cristina
2008 Igor                    0   1                 2 Movie
0      Steve Buscemi NaN           Scamper
1        John Cleese NaN  Dr. Glickenstein
2  Jennifer Coolidge NaN            Jaclyn
3        John Cusack NaN              Igor
2008 Soul-Men                    0   1                2 Movie
0  Samuel L. Jackson NaN      Louis Hinds
1         Bernie Mac NaN  Floyd Henderson
2008 Longshots-The-              0   1                2 Movie
0     Ice Cube NaN   Curtis Plummer
1  Keke Palmer NaN  Jasmine Plummer
2008 College                  0   1             2 Movie
0       Drake Bell NaN  Kevin Brewer

                   Name                    Movie  Value
0             Tom Hanks                Toy Story    0.0
1             Tim Allen                Toy Story    0.0
2            Mel Gibson               Pocahontas    0.0
3     Denzel Washington             Crimson Tide    0.0
4          Gene Hackman             Crimson Tide    0.0
...                 ...                      ...    ...
8323  Samuel L. Jackson    The Last Full Measure    0.0
8324        Peter Fonda    The Last Full Measure    0.0
8325      Jeremy Irvine    The Last Full Measure    0.0
8326    Charlie Plummer  Words on Bathroom Walls    0.0
8327     Taylor Russell  Words on Bathroom Walls    0.0

[8328 rows x 3 columns]

## Renaming entries for compatibility

In [ ]:
movies_df.rename(columns = {
  "Genre":"genres",
  "MPAA Rating":"mpaa-ratings",
  "Creative Type":"creative-types",
  "Production Method":"production-methods",
  "Source":"sources",
  "Distributor":"theatrical-distributors"
}, inplace = True)

genres_rename = {
  "Adventure":"adventure",
  "Action":"action",
  "Comedy":"comedy",
  "Drama":"drama",
  "Thriller/Suspense":"thriller-or-suspense",
  "Horror":"horror",
  'Romantic Comedy': 'romantic-comedy',
  'Musical': 'musical'
}

ratings_rename = {
  'PG-13': 'pg-13-(us)',
  'R': 'r-(us)',
  'PG': 'pg-(us)',
  'G': 'g-(us)',
  'Not Rated': 'not-rated-(us)',
  'GP': 'gp-(us)',
  'NC-17': 'nc-17-(us)',
  'M/PG': 'm-pg'
}

movies_df['genres'].replace(genres_rename, inplace = True)
movies_df['mpaa-ratings'].replace(ratings_rename, inplace = True)

## Generating cast values

# New Section

In [ ]:
cast_df['Value'] = 0.0

movie_categories = list(categories.keys())

actor_vals = []

for i in range(movies_df.shape[0]):
  current_movie = movies_df.loc[i, 'Movie']
  cast_size = 0

  while cast_size != len(np.where(cast_df == current_movie)[0]):

    current_name = cast_df.loc[np.where(cast_df == current_movie)[0][cast_size - 1], 'Name']
    cast_size += 1
    actor_sum = 0

    for j in movie_categories:
      current_category = movies_df.loc[i,j]


      for k in actor_data[j]:

        name = actor_data[j][k].Name
        value = actor_data[j][k].Value

        if current_category == k:

          a = np.where(name == current_name)[0]
          b = actor_data[j][k].loc[a, 'Value']

          if len(b.values) != 0:
            actor_sum += b.values[0]

          else:
            actor_sum += 0

    actor_vals.append([actor_sum / len(movie_categories), current_name])


for m in range(cast_df.shape[0]):
  cast_df.loc[m,'Value'] = actor_vals[m][0]

actor_value_df=cast_df.copy()

cast_df=cast_df.drop(columns=['Name'])
cast_df=cast_df.groupby(['Movie']).mean()

actor_value_df

<ipython-input-128-9620e9783998>:46: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  cast_df=cast_df.groupby(['Movie']).mean()

                   Name                    Movie      Value
0             Tom Hanks                Toy Story  23.428941
1             Tim Allen                Toy Story  23.483320
2            Mel Gibson               Pocahontas  20.320583
3     Denzel Washington             Crimson Tide  21.998387
4          Gene Hackman             Crimson Tide  23.785503
...                 ...                      ...        ...
8323  Samuel L. Jackson    The Last Full Measure  20.582953
8324        Peter Fonda    The Last Full Measure  21.293618
8325      Jeremy Irvine    The Last Full Measure  14.722839
8326    Charlie Plummer  Words on Bathroom Walls  15.207038
8327     Taylor Russell  Words on Bathroom Walls  13.782108

[8328 rows x 3 columns]

In [ ]:
cast_df.to_csv('cast_value_df.csv', encoding = 'utf-8-sig')
files.download('cast_value_df.csv')

In [ ]:
uploaded = files.upload()
cast_df = pd.read_csv('cast_df.csv')

In [ ]:
actor_value_df.to_csv('actor_value_df.csv', encoding = 'utf-8-sig')
files.download('actor_value_df.csv')
actor_value_df

## Generating actor salaries

In [ ]:
uploaded = files.upload()
movies_df = pd.read_csv('movies_df.csv')

In [ ]:
uploaded = files.upload()
actor_value_df = pd.read_csv('actor_value_df.csv')

In [ ]:
for i in range(actor_value_df.shape[0]):
  if "*" in actor_value_df.loc[i,'Name']:
    actor_value_df.loc[i,'Name']=actor_value_df.loc[i,'Name'].replace("*","")
  if "," in actor_value_df.loc[i,'Name']:
    actor_value_df.loc[i,'Name']=actor_value_df.loc[i,'Name'].replace(",","")

actor_value_df

                   Name                    Movie      Value
0             Tom Hanks                Toy Story  23.428941
1             Tim Allen                Toy Story  23.483320
2            Mel Gibson               Pocahontas  20.320583
3     Denzel Washington             Crimson Tide  21.998387
4          Gene Hackman             Crimson Tide  23.785503
...                 ...                      ...        ...
8323  Samuel L. Jackson    The Last Full Measure  20.582953
8324        Peter Fonda    The Last Full Measure  21.293618
8325      Jeremy Irvine    The Last Full Measure  14.722839
8326    Charlie Plummer  Words on Bathroom Walls  15.207038
8327     Taylor Russell  Words on Bathroom Walls  13.782108

[8328 rows x 3 columns]

In [ ]:
actor_value_df = actor_value_df.groupby(['Name']).mean()
actor_value_df

<ipython-input-130-b000cae63c40>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  actor_value_df = actor_value_df.groupby(['Name']).mean()

                     Value
Name
A.J. Buckley      0.000000
A.J. Cook        17.318276
A.J. Langer      18.493972
A.J. Michalka    12.740982
Aaliyah          18.439222
...                    ...
Zoe Kazan        15.476550
Zoe Saldana      17.825433
Zoey Deutch      17.008436
Zooey Deschanel  11.691876
will.i.am        17.118013

[3680 rows x 1 columns]

In [ ]:
def generate_salaries(salary_df, percent_cut,is_cast):

  salary_df['Salary'] = 0.0

  salary_df = pd.merge(salary_df, movies_df, on='Movie', how='left')

  for i in range(salary_df.shape[0]):
    if salary_df.loc[i,'Value']>20:
      percent_cut
    salary_df.loc[i, 'Salary'] = salary_df.loc[i, 'Production Budget'] * percent_cut

  salary_df = salary_df[['Name', 'Movie', 'Production Budget', 'Salary']]

  return salary_df

In [ ]:
def generate_salaries(salary_df,is_cast):

  percent_budget,percent_gross=0, 0
  salary_df['Salary'] = 0.0

  salary_df = pd.merge(salary_df, movies_df, on='Movie', how='left')

  for i in range(salary_df.shape[0]):

    value=salary_df.loc[i,'Value']
    gross=salary_df.loc[i,'Domestic Gross']
    budget=salary_df.loc[i,'Production Budget']

    if is_cast:

      if value>=22:
        percent_budget=0.0005
        percent_gross=0.00015

      if value<22 and value>20.5:
        percent_budget=0.000015
        percent_gross=0.00001

      if value<=20.5:
        percent_budget=0.00001
        percent_gross=0
    else:

      if value>=22:
        percent_budget=0.00075
        percent_gross=0

      if value<22 and value>20:
        percent_budget=0.00025
        percent_gross=0

      if value>17 and value<=20:
        percent_budget=0.00015
        percent_gross=0
      if value<20:
        percent_budget=0.0001
        percent_gross=0

    salary_df.loc[i, 'Salary'] = gross * percent_gross + budget * percent_budget

  if is_cast:
    salary_df = salary_df[['Name', 'Movie', 'Production Budget', 'Salary','Domestic Gross','Value']]
  else:
    salary_df = salary_df[['Name', 'Movie', 'Production Budget', 'Salary','Domestic Gross','Value']]

  return salary_df

In [ ]:
actor_value_df = generate_salaries(actor_value_df, True)
actor_value_df = actor_value_df.drop(columns = ['Production Budget', 'Movie','Domestic Gross'])
actor_value_df = actor_value_df.groupby(['Name']).mean()
actor_value_df

                      Salary      Value
Name
A.J. Buckley      100.000000   0.000000
A.J. Cook         260.000000  17.318276
A.J. Johnson             NaN  12.698267
A.J. Langer       240.000000  15.686364
A.J. Michalka      17.000000  12.740982
...                      ...        ...
Zoe Saldana      1258.571429  17.963535
Zoey Deutch       176.666667  16.721547
Zooey Deschanel   293.351330  12.113573
Zoë Kravitz              NaN  11.736327
will.i.am         900.000000  17.118013

[3878 rows x 2 columns]

In [ ]:
actor_salary_df.to_csv('actor_salary_df.csv', encoding = 'utf-8-sig')
files.download('actor_salary_df.csv')

## Scraping existing movie directors

In [ ]:

movie_director_df = pd.DataFrame()

try:

  for i in range(movies_df.shape[0]):

    movie_name = movies_df.loc[i, 'Movie']
    movie_name = movie_name.translate(str.maketrans('', '', string.punctuation))

    if "The" in movie_name[0:4]:
      the = movie_name[0:4]
      no_the = movie_name[4:]
      movie_name = (no_the + " " + the)

    movie_name = movie_name.replace(' ', '-')

    year = movies_df.loc[i, 'Release Date']
    year = ''.join(i for i in year if i.isdigit())

    current_url = movie_url.format(movie_name = movie_name, year = year)

    page = requests.get(current_url, headers = {'User-Agent': random.choice(user_agents_list)})


    soup = bs(StringIO(page.text), 'html.parser')

    try:
      tables=pd.read_html(StringIO(page.text), attrs={"align":"center"})

      df_leads = tables[len(tables)-1]
      df_leads['Movie'] = ''


      for j in range(df_leads.shape[0]):
        df_leads.loc[j, 'Movie'] = movies_df.loc[i, 'Movie']

      movie_director_df = pd.concat([movie_director_df, df_leads], ignore_index = True)

    except ValueError as e:
      movies_df.drop([i], axis = 0, inplace = True)

except Exception as e:
    print(e)

movie_director_df=movie_director_df.drop(columns=[1])

renaming={0:'Name',2:'Role'}
movie_director_df.rename(columns=renaming,inplace=True)
movie_director_df=movie_director_df[movie_director_df.loc[:,'Role']=='Director']
movie_director_df=movie_director_df.reset_index(drop = True)

movie_director_df

In [ ]:
movie_director_df=pd.DataFrame()


movie_director_df=extract_cast_crew(movie_director_df,False)

In [ ]:

renaming={0:'Name', 2:'Role'}
movie_director_df.rename(columns=renaming,inplace=True)
movie_director_df=movie_director_df[movie_director_df.loc[:,'Role']=='Director']
movie_director_df=movie_director_df.reset_index(drop = True)

movie_director_df

In [ ]:
director_df=director_df.drop(columns=['Rank','Domestic Box Office','Average','Movies'])
movie_director_df=movie_director_df.drop(columns=['Role',1])
movie_director_df=pd.merge(movie_director_df, director_df, on='Name', how='inner')

movie_director_df

In [ ]:
movie_director_df.to_csv('director_value_df.csv', encoding = 'utf-8-sig')
files.download('director_value_df.csv')

## Generating director salaries

In [ ]:
uploaded = files.upload()
director_value_df = pd.read_csv('director_value_df.csv')

Saving director_value_df.csv to director_value_df (3).csv

In [ ]:
director_value_df = generate_salaries(director_value_df, False)
#director_value_df = director_value_df.drop(columns = ['Domestic Box Office', 'Movies', 'Average', 'Rank'])

director_value_df=director_value_df.groupby(['Name']).mean()
director_value_df

<ipython-input-146-1205cbde7d14>:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  director_value_df=director_value_df.groupby(['Name']).mean()

                                 Salary      Value
Name
Aaron Horvath               2500.000000  20.913431
Aaron Schneider              700.000000  17.130816
Aaron Seltzer               5555.555556  20.753410
Abbas Alibhai Burmawalla     500.000000  14.821294
Abby Kohn                   3200.000000  18.396298
...                                 ...        ...
Zach Braff                   425.000000  19.553406
Zack Snyder               112650.000000  23.565554
Zal Batmanglij               650.000000  15.495468
Zara Hayes                  1000.000000  16.427866
Zhang Yimou                14916.666667  21.686316

[1285 rows x 2 columns]

In [ ]:
uploaded = files.upload()
movie_director_df = pd.read_csv('director_value_df.csv')

Saving director_value_df.csv to director_value_df (2).csv

In [ ]:
movies_df = inner_join(movies_df, cast_df).rename(columns = {'Value':'Cast Value'})

movie_director_df=movie_director_df.drop(columns=['Name']).rename(columns = {'Value':'Director Value'})


movies_df = inner_join(movies_df, movie_director_df)

movies_df

,Movie,genres,mpaa-ratings,theatrical-distributors,Production Budget,Domestic Gross,Release Date,creative-types,production-methods,sources,Cast Value,Unnamed: 0,Director Value
0,Toy Story,adventure,g-(us),walt-disney,30000000.0,192523233.0,"November, 1995",kids-fiction,digital-animation,original-screenplay,23.456131,0,22.565527
1,Crimson Tide,action,r-(us),walt-disney,55000000.0,91387195.0,"May, 1995",contemporary-fiction,live-action,original-screenplay,22.891945,4,23.583815
2,Judge Dredd,action,r-(us),walt-disney,85000000.0,34687912.0,"June, 1995",science-fiction,live-action,based-on-comic-or-graphic-novel,21.993195,11,18.171480
3,The Jungle Book,adventure,pg-(us),walt-disney,175000000.0,364001123.0,"April, 2016",fantasy,animation-and-live-action,based-on-fictional-book-or-short-story,6.342099,12,21.724337
4,The Lion King,adventure,g-(us),walt-disney,260000000.0,543638043.0,"July, 2019",kids-fiction,animation-and-live-action,remake,14.466526,13,21.143090
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2503,The New Mutants,horror,pg-13-(us),sony-pictures-classics,67000000.0,23855569.0,"August, 2020",super-hero,live-action,based-on-comic-or-graphic-novel,14.444625,2383,19.916772
2504,The Gentlemen,action,r-(us),miramax-dimension,22000000.0,36471796.0,"December, 2019",contemporary-fiction,live-action,original-screenplay,17.402846,1056,23.458987
2505,Honest Thief,thriller-or-suspense,pg-13-(us),united-artists,30000000.0,14163574.0,"October, 2020",contemporary-fiction,live-action,original-screenplay,17.565072,2641,18.081902
2506,The Last Full Measure,drama,r-(us),walt-disney,20000000.0,2949212.0,"January, 2020",dramatization,live-action,based-on-real-life-events,18.327338,2642,16.296359
2507,Words on Bathroom Walls,drama,pg-13-(us),walt-disney,9300000.0,2542518.0,"August, 2020",contemporary-fiction,live-action,based-on-fictional-book-or-short-story,14.494573,2061,20.540709

In [ ]:
movies_df['Crew Value']=movies_df['Cast Value'] + movies_df['Director Value']

movies_df=movies_df.drop(columns=['Cast Value','Director Value', 'Unnamed: 0'])

movies_df

,Movie,genres,mpaa-ratings,theatrical-distributors,Production Budget,Domestic Gross,Release Date,creative-types,production-methods,sources,Crew Value
0,Toy Story,adventure,g-(us),walt-disney,30000000.0,192523233.0,"November, 1995",kids-fiction,digital-animation,original-screenplay,46.021657
1,Crimson Tide,action,r-(us),walt-disney,55000000.0,91387195.0,"May, 1995",contemporary-fiction,live-action,original-screenplay,46.475760
2,Judge Dredd,action,r-(us),walt-disney,85000000.0,34687912.0,"June, 1995",science-fiction,live-action,based-on-comic-or-graphic-novel,40.164674
3,The Jungle Book,adventure,pg-(us),walt-disney,175000000.0,364001123.0,"April, 2016",fantasy,animation-and-live-action,based-on-fictional-book-or-short-story,28.066436
4,The Lion King,adventure,g-(us),walt-disney,260000000.0,543638043.0,"July, 2019",kids-fiction,animation-and-live-action,remake,35.609616
...,...,...,...,...,...,...,...,...,...,...,...
2503,The New Mutants,horror,pg-13-(us),sony-pictures-classics,67000000.0,23855569.0,"August, 2020",super-hero,live-action,based-on-comic-or-graphic-novel,34.361398
2504,The Gentlemen,action,r-(us),miramax-dimension,22000000.0,36471796.0,"December, 2019",contemporary-fiction,live-action,original-screenplay,40.861833
2505,Honest Thief,thriller-or-suspense,pg-13-(us),united-artists,30000000.0,14163574.0,"October, 2020",contemporary-fiction,live-action,original-screenplay,35.646974
2506,The Last Full Measure,drama,r-(us),walt-disney,20000000.0,2949212.0,"January, 2020",dramatization,live-action,based-on-real-life-events,34.623697
2507,Words on Bathroom Walls,drama,pg-13-(us),walt-disney,9300000.0,2542518.0,"August, 2020",contemporary-fiction,live-action,based-on-fictional-book-or-short-story,35.035282

In [ ]:
movies_df.to_csv('movies_df.csv', encoding = 'utf-8-sig')
files.download('movies_df.csv')

In [ ]:
#uploaded = files.upload()

movie_director_df = pd.read_csv("directors.csv")

movie_director_df

# **Setting up optimization**

## Getting movie specifications

In [ ]:

def get_movie_info():

  chosen_categories = []

  budget=float(input(
        f"\nPlease enter a selected budget: "
    ))

  cast_size=int(input(
        f"\nDetermine the cast size: "
    ))

  for i in categories:

    chosen_type = input(
        f"\nFrom these types for the category of {i}:\n{categories[i].keys()}\nEnter your choice: "
    )

    if chosen_type in categories[i].keys():
      chosen_categories.append(actor_data[i][chosen_type])

  return chosen_categories,budget,cast_size

In [ ]:
chosen_actor_data,budget,cast_size= get_movie_info()

print(chosen_actor_data)

print("\nbudget\n:",budget)
print("cast size:",cast_size)

Please enter a selected budget: 300000000

Determine the cast size: 10

From these types for the category of genres:
dict_keys(['adventure', 'action', 'comedy', 'drama', 'thriller-or-suspense', 'horror', 'romantic-comedy', 'musical'])
Enter your choice: action

From these types for the category of creative-types:
dict_keys(['contemporary-fiction', 'science-fiction', 'kids-fiction', 'historical-fiction', 'fantasy', 'super-hero', 'dramatization', 'factual'])
Enter your choice: super-hero

From these types for the category of production-methods:
dict_keys(['live-action', 'animation-and-live-action', 'digital-animation', 'hand-animation', 'stop-motion-animation', 'rotoscoping', 'multiple-production-methods'])
Enter your choice: live-action

From these types for the category of sources:
dict_keys(['original-screenplay', 'based-on-fictional-book-or-short-story', 'based-on-comic-or-graphic-novel', 'remake', 'based-on-tv', 'based-on-real-life-events', 'based-on-factual-book-or-article', 'spin-off'])
Enter your choice: based-on-comic-or-graphic-novel

From these types for the category of mpaa-ratings:
dict_keys(['pg-13-(us)', 'r-(us)', 'pg-(us)', 'g-(us)', 'not-rated-(us)', 'gp-(us)', 'nc-17-(us)', 'm-pg'])
Enter your choice: pg-13-(us)

From these types for the category of theatrical-distributors:
dict_keys(['walt-disney', 'warner-bros', 'sony-pictures', 'universal', 'paramount-pictures', '20th-century-fox', 'lionsgate', 'new-line', 'dreamworks-skg', 'mgm', 'miramax', 'fox-searchlight', 'focus-features', 'weinstein-co', 'summit-entertainment', '20th-century-studios', 'sony-pictures-classics', 'stx-entertainment', 'miramax-dimension', 'relativity', 'open-road', 'united-artists', 'a24', 'roadside-attractions', 'newmarket-films'])
Enter your choice: walt-disney
[      Rank                Name Domestic Box Office  Movies      Average  \
0        1         Chris Pratt      $4,641,523,305      12  386793609.0
1        2  Robert Downey, Jr.      $4,300,618,617      10  430061862.0
2        3         Zoe Saldana      $4,112,600,358       9  456955595.0
3        4  Scarlett Johansson      $3,986,424,983      11  362402271.0
4        5     Chris Hemsworth      $3,758,069,941      14  268433567.0
...    ...                 ...                 ...     ...          ...
1375  1376      Arthur Berning                $806       1        806.0
1376  1377    Andreas Cappelen                $806       1        806.0
1377  1378      Charlie Bewley                $614       1        614.0
1378  1379        Elliot Cowan                $614       1        614.0
1379  1380       Jarrid Geduld                $347       1        347.0

          Value
0     24.743215
1     24.484610
2     24.334546
3     24.504056
4     24.686229
...         ...
1375   6.692084
1376   6.692084
1377   6.419995
1378   6.419995
1379   5.849325

[1380 rows x 6 columns],      Rank                  Name Domestic Box Office  Movies      Average  \
0       1    Robert Downey, Jr.      $4,401,867,478       9  489096386.0
1       2    Scarlett Johansson      $3,783,468,553       8  472933569.0
2       3       Chris Hemsworth      $3,665,260,143       8  458157518.0
3       4           Chris Evans      $3,595,959,810       8  449494976.0
4       5     Samuel L. Jackson      $3,189,600,362       8  398700045.0
..    ...                   ...                 ...     ...          ...
321   322       Vincent Lacoste             $64,484       1      64484.0
322   323      Jean-Pascal Zadi             $64,484       1      64484.0
323   324         Audrey Tautou             $34,361       1      34361.0
324   325  Jean-Pierre Marielle             $34,361       1      34361.0
325   326          Edouard Baer             $34,361       1      34361.0

         Value
0    24.402519
1    24.133349
2    24.101607
3    24.082518
4    23.962603
..         ...
321  11.074172
322  11.074172
323  10.444677
324  10.444677
325  10.444677

[326 rows x 6 columns],       Rank            Name Domestic Box Office  Movies      Average      Value
0        1      Tom Cruise      $4,617,449,063      41  112620709.0  25.966680
1        2   Harrison Ford      $4,074,118,754      41   99368750.0  25.841492
2        3       Tom Hanks      $3,651,618,689      48   76075389.0  25.889637
3        4      Matt Damon      $3,176,054,792      41   77464751.0  25.592478
4        5  Dwayne Johnson      $3,009,859,227      30  100328641.0  25.226357
...    ...             ...                 ...     ...          ...        ...
8795  8796      Luis Tosar                $245       4         61.0   6.883463
8796  8797    Will Friedle                $217       1        217.0   5.379897
8797  8798  Marwan Kenzari                $180       4         45.0   6.579251
8798  8799  Petr Skvortsov                $138       1        138.0   4.927254
8799  8800   Lola Lasseron                 $88       1         88.0   4.477337

[8800 rows x 6 columns],      Rank                Name Domestic Box Office  Movies      Average  \
0       1  Robert Downey, Jr.      $4,401,867,478       9  489096386.0
1       2  Scarlett Johansson      $3,824,032,110       9  424892457.0
2       3     Chris Hemsworth      $3,745,261,950      10  374526195.0
3       4         Chris Evans      $3,624,114,271      10  362411427.0
4       5   Samuel L. Jackson      $3,222,862,943       8  402857868.0
..    ...                 ...                 ...     ...          ...
530   531        Tomer Sisley             $10,352       1      10352.0
531   532      Francois Morel              $4,301       1       4301.0
532   533        Hafsia Herzi              $4,301       1       4301.0
533   534          Kim Coates                $850       1        850.0
534   535       Lola Lasseron                 $88       1         88.0

         Value
0    24.402519
1    24.261796
2    24.346342
3    24.313461
4    23.972977
..         ...
530   9.244935
531   8.366603
532   8.366603
533   6.745236
534   4.477337

[535 rows x 6 columns],       Rank                Name Domestic Box Office  Movies      Average  \
0        1  Robert Downey, Jr.      $4,980,481,451      18  276693414.0
1        2         Zoe Saldana      $4,916,905,824      16  307306614.0
2        3         Tom Holland      $4,492,639,973      12  374386664.0
3        4         Chris Pratt      $4,260,239,983      12  355019999.0
4        5   Samuel L. Jackson      $4,246,463,000      22  193021045.0
...    ...                 ...                 ...     ...          ...
2850  2851       Jerry Stiller              $1,237       1       1237.0
2851  2852          Anne Meara              $1,237       1       1237.0
2852  2853         Missy Yager              $1,237       1       1237.0
2853  2854     Corinne Masiero                $539       1        539.0
2854  2855  Vincent Chalambert                $539       1        539.0

          Value
0     25.219164
1     25.088534
2     24.710613
3     24.657498
4     25.260395
...         ...
2850   7.120444
2851   7.120444
2852   7.120444
2853   6.289716
2854   6.289716

[2855 rows x 6 columns],      Rank                Name Domestic Box Office  Movies      Average  \
0       1  Scarlett Johansson      $3,888,126,236       9  432014026.0
1       2   Samuel L. Jackson      $3,669,091,113       9  407676790.0
2       3     Chris Hemsworth      $3,484,229,519       7  497747074.0
3       4  Robert Downey, Jr.      $3,436,628,881       6  572771480.0
4       5         Chris Evans      $3,405,690,755       7  486527251.0
..    ...                 ...                 ...     ...          ...
859   860      Bunta Sugawara             $48,658       1      48658.0
860   861        Martin Sheen             $34,368       1      34368.0
861   862         Anupam Kher              $2,815       1       2815.0
862   863      Manjari Fadnis              $2,815       1       2815.0
863   864     Darsheel Safary              $2,815       1       2815.0

         Value
0    24.278418
1    24.220434
2    23.917423
3    23.749516
4    23.894624
..         ...
859  10.792572
860  10.444881
861   7.942718
862   7.942718
863   7.942718

[864 rows x 6 columns]]

budget
: 300000000.0
cast size: 10

In [ ]:
chosen_actor_df = pd.concat(chosen_actor_data, ignore_index = True)


for i in range(chosen_actor_df.shape[0]):
  if "," in chosen_actor_df.loc[i,'Name']:
    chosen_actor_df.loc[i,'Name']=chosen_actor_df.loc[i,'Name'].replace(",","")


chosen_actor_df = chosen_actor_df.drop(columns = ['Domestic Box Office', 'Movies', 'Average', 'Rank'])
chosen_actor_df = chosen_actor_df.groupby(['Name']).mean()



chosen_actor_df

                    Value
Name
A.D. Miles      12.584858
A.J. Benza      10.233618
A.J. Cook       17.663457
A.J. Johnson    18.429185
A.J. Michalka   15.427808
...                   ...
in-pyo Cha      10.526963
Édgar Flores    14.746361
Éric Bruneau     9.147933
Özgü Namal      10.605322
Úrsula Corberó  17.157111

[9064 rows x 1 columns]

In [ ]:
actor_value_df

In [ ]:
actor_opt_input = pd.merge(actor_value_df,chosen_actor_df, on='Name', how='inner')
#actor_opt_input=generate_salaries(actor_value_df,True)

actor_opt_input

                      Salary    Value_x    Value_y
Name
A.J. Cook         260.000000  17.318276  17.663457
A.J. Johnson             NaN  12.698267  18.429185
A.J. Michalka      17.000000  12.740982  15.427808
Aaliyah           250.000000  16.677946  18.403327
Aaron Eckhart     540.119977  17.278333  20.517718
...                      ...        ...        ...
Zoe Kazan          50.000000  15.476550  17.595614
Zoe Saldana      1258.571429  17.963535  23.886123
Zoey Deutch       176.666667  16.721547  19.215887
Zooey Deschanel   293.351330  12.113573  18.204120
Zoë Kravitz              NaN  11.736327  20.637675

[2604 rows x 3 columns]

In [ ]:
uploaded = files.upload()
director_value_df = pd.read_csv('director_value_df.csv')

In [ ]:
director_value_df = generate_salaries(director_value_df, False)
director_value_df = director_value_df.drop(columns = ['Production Budget', 'Movie'])
director_value_df = director_value_df.groupby(['Name']).mean()
director_value_df

# **Optimization**

In [ ]:
num_actors = actor_opt_input.shape[0]

x = cp.Variable(num_actors,boolean=True)

actor_util=actor_opt_input['Value']
salaries=actor_opt_input['Salary']

actor_util

obj=cp.Maximize((x@actor_util)/cast_size)

cons=[]

cons.append(cp.sum(x)<=cast_size)

cons.append(x@salaries<=(0.15*budget))

prob = cp.Problem(obj,cons)

prob.solve(verbose=False)  # verbose = True allows you to see the solution process
print('The objective value is {}.'.format(obj.value))

x_np_array = x.value.astype(int)  # extract the x values as a np array
x_values = pd.Series(x_np_array, index =x)  # convert the np array to a Dataframe
selected = x_values[x_values == 1].index.values  # get assignments

# Print outputs
print(np.where(x_values==1)[0])

print(actor_opt_input.iloc[np.where(x_values==1)[0]])

KeyError: ignored